{
    "parserOptions": {
        "ecmaVersion": 2017,
        "sourceType": "script"
    },
    "env": {
        "node": false,
        "commonjs": false,
        "webextensions": true,
        "browser": true,
        "es6": true
    },
    "rules": {
        "no-empty": ["error", { "allowEmptyCatch": true }],
        "no-eval": ["off"]
    },
    "parser": "babel-eslint",
    "extends": "pedant"
}
