@import "./primer.css";
@import url("https://cdn.jsdelivr.net/npm/hack-font@3.3.0/build/web/hack-subset.css");

/** page loader */

#loadWrapper {
    font-family: var(--font);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    user-select: none;
    transition: opacity .2s ease;
    opacity: 1;
    z-index: 1000;
}

.loadWrapperHide {
    opacity: 0 !important;
}

.loadWrapperHide > .anim-load {
    animation-play-state: paused !important;
}

.anim-load {
    animation-play-state: running;
    position: absolute;
    height: 30px;
    background: #565f7c;
    width: 30px;
    border-radius: 3px;
    left: calc(50% - 34px);
    transform-origin: right center;
}

@keyframes width {
    0% {
        transform: scale(1, 1);
    }
    50% {
        transform: scale(2.5, 1);
    }
    100% {
        transform: scale(1, 1);
    }
}

.anim-1 {
    top: calc(50% - 93px);
    animation: 1s width infinite;
}

.anim-2 {
    top: calc(50% - 55px);
    animation: 1s width infinite;
    animation-delay: .33s;
}

.anim-3 {
    top: calc(50% - 18px);
    animation: 1s width infinite;
    animation-delay: .66s;
}

.anim-logo {
    position: absolute;
    top: calc(50% - 93px);
    left: calc(50% + 5px);
}

#loadWrapper {
    background: #fff;
}

.errorReporter {
    position: fixed;
    bottom: 25px;
    left: 25px;
    background: #D32F2F;
    border: thin solid #B71C1C;
    color: #fff;
    padding: 1px 6px;
    white-space: pre;
    box-shadow: 0 0 2px 0 #707070;
    font-size: 8pt;
}

.errorReporter:before {
    content: "ProgTest Themes Error Reporter\A";
    font-size: 9pt;
}

html
{
    height: 100%;
}

body
{
    overflow-y: auto;
    margin: 0;
    height: 100%;
}

#wide-bg {
    background-image: url("./assets/bg-login.svg");
    background-size: cover;
    background-position: bottom;
}

.text-clamp-1 {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.text-clamp-2 {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.text-clamp-3 {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

summary {
    outline: none;
}

.containerHeightFix {
    height: calc(100vh - 87px);
    align-content: space-between;
}

@media (max-width: 767px) {
    .containerHeightFix {
        height: auto;
        align-content: center;
    }
}

/*

Original highlight.js style (c) Ivan Sagalaev <maniac@softwaremaniacs.org>

*/

.hljs {
    display: block;
    width: fit-content;
    overflow-x: auto;
    padding: 0.5em;
    background: #F0F0F0;
    font-family: Hack, monospace;
}

code.hljs, tt.hljs {
    display: inline;
    padding: .1em
}

/* Base color: saturation 0; */

.hljs, .hljs-subst {
    color: #444;
}

.hljs-comment {
    color: #888888;
}

.hljs-keyword, .hljs-attribute, .hljs-selector-tag, .hljs-meta-keyword, .hljs-doctag, .hljs-name {
    font-weight: bold;
}

/* User color: hue: 0 */

.hljs-type, .hljs-string, .hljs-number, .hljs-selector-id, .hljs-selector-class, .hljs-quote, .hljs-template-tag, .hljs-deletion {
    color: #880000;
}

.hljs-title, .hljs-section {
    color: #880000;
    font-weight: bold;
}

.hljs-regexp, .hljs-symbol, .hljs-variable, .hljs-template-variable, .hljs-link, .hljs-selector-attr, .hljs-selector-pseudo {
    color: #BC6060;
}

/* Language color: hue: 90; */

.hljs-literal {
    color: #78A960;
}

.hljs-built_in, .hljs-bullet, .hljs-code, .hljs-addition {
    color: #397300;
}

/* Meta color: hue: 200 */

.hljs-meta {
    color: #1f7199;
}

.hljs-meta-string {
    color: #4d99bf;
}

/* Misc effects */

.hljs-emphasis {
    font-style: italic;
}

.hljs-strong {
    font-weight: bold;
}

.clusterize-scroll{
    max-height: 100%;
    overflow: auto;
    position: absolute;
    width: 100%;
    top: 0;
    padding-top: 21px;
    font-size: 11px;
}

.clusterize-extra-row{
    margin-top:0!important;
    margin-bottom:0!important;
}

.clusterize-extra-row.clusterize-keep-parity{
    display:none;
}

.clusterize-content{
    outline:0;
    text-align: center;
    counter-reset:clusterize-counter;
}

.clusterize-no-data td{
    text-align:center;
}

.clusterize-scroll tr {
    border-top: 1px solid #dbdbdb;
    height: 25px;
}

.clusterize-scroll tr:nth-child(even) {
    background: #fff;
}