@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&display=swap&subset=latin-ext");

body
{
    background-color: rgb(28, 28, 28);
    color: #fff;
}

.e404
{
    font-family: "Open Sans","Noto Color Emoji";
    margin-top: 3rem;
    text-align: center;
}

h1
{
    font-size: 3rem;
    font-weight: 100;
    color: #5f5f5f;
    font-style: italic;
    margin-bottom: 4rem;
}

h2
{
    font-size: 3rem;
    font-weight: 500;
}

span
{
    font-size: 1.2rem;
}

a
{
    color: #03A9F4;
}

a:visited
{
    color: #c384e2;
}

a:active
{
    color: #ec407a;
}