:root
{
    --font: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

body
{
    background-color: #fafafa;
}

.e404
{
    font-family: var(--font);
    margin-top: 3rem;
    text-align: center;
}

h1
{
    font-size: 3rem;
    font-weight: 100;
    color: #bebebe;
    font-style: italic;
    margin-bottom: 4rem;
}

h2
{
    font-size: 3rem;
    font-weight: 500;
}

span
{
    font-size: 1.2rem;
}
