@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&display=swap&subset=latin-ext");
@import url("https://cdn.jsdelivr.net/npm/hack-font@3.3.0/build/web/hack-subset.css");
@import url("https://cdn.jsdelivr.net/npm/@fontsource/noto-color-emoji@5.0.15/index.min.css");

.install-message {
    display: none;
}

/** global layout */

:root {
    --font-sans: "Open Sans";
    font-family:
        var(--font-sans),
        ui-sans-serif,
        system-ui,
        -apple-system,
        BlinkMacSystemFont,
        "Segoe UI",
        Roboto,
        "Helvetica Neue",
        Arial,
        "Noto Sans",
        sans-serif,
        "Apple Color Emoji",
        "Segoe UI Emoji",
        "Segoe UI Symbol",
        "Noto Color Emoji";
}

html {
    height: 100%;
}

body {
    overflow-y: scroll;
    font-size: 10px;
    margin: 0;
    padding-bottom: 25px;
    background-attachment: fixed;
    background-size: cover;
    padding-top: 60px;
}

hr {
    border: none;
    height: 1px;
    background-color: rgba(0, 0, 0, 0.175);
}

a {
    text-decoration: none;
}

select {
    border-radius: 3px;
    padding: 2px 6px;
    border: thin solid #b9b9b9;
}

form {
    padding: 0;
    margin: 0;
}

input,
button,
select,
tr {
    font-size: 12px;
}

select.std.w200[name="UID_UNIVERSITY"] {
    width: -webkit-fill-available;
}

/* Login page */

.app_name {
    text-align: center;
    font-size: 4.5rem;
    font-weight: 300;
    line-height: 0.6;
    margin-top: -38px;
    letter-spacing: 2px;
}

.app_name > b {
    font-weight: 500;
}

.loginForm > center > div > div > table:before {
    content: "";
    width: 260px;
    height: 90%;
    position: absolute;
    top: 5%;
    left: -250px;
    box-shadow: 0 5px 23px 0 rgba(0, 0, 0, 0.45);
    z-index: -1;
    border-radius: 7px;
}

#uniSel {
    position: absolute;
    top: 260px;
    left: calc(50% - 300px);
    width: 250px;
    font-size: 12pt;
}

.uniVal[active] {
    padding-left: 12px;
    border-left: 3px solid #ffeb3b;
    font-weight: 500;
    background: rgba(255, 255, 255, 0.075);
    box-shadow: 0 1px 4px -3px rgba(0, 0, 0, 0.5);
}

.uniVal {
    padding: 5px 0 5px 15px;
    cursor: pointer;
}

.uniVal:hover {
    background: rgba(255, 255, 255, 0.125);
}

.loginForm td {
    background: transparent !important;
    border: none !important;
}

.loginForm table {
    border: none !important;
    box-shadow: none !important;
    border-radius: 7px !important;
}

.loginForm .insBox {
    position: absolute;
    width: 350px;
    margin: 0;
    height: 380px;
    border-radius: 7px;
    box-shadow: 0 2px 42px 0 rgba(0, 0, 0, 0.28);
    left: calc(50% - 50px);
    top: 160px;
}

.loginForm div.outButton.w120 input,
.loginForm a.butLink {
    position: absolute;
    width: 120px;
    color: #fff;
    padding: 10px 0;
    border-radius: 3px;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.25);
    border: none;
    outline-color: #004d40;
    font-size: 12pt;
    left: calc(50% - 60px);
    bottom: 80px;
    cursor: pointer;
    background-color: #009688;
}

.loginForm a.butLink:focus {
    outline-offset: 0;
    outline-style: initial;
    outline-width: 4.8px;
}

.loginForm td:nth-child(2) > div.outButton.w120 input {
    bottom: 25px;
    font-size: 10pt;
    width: 100px;
    left: calc(50% - 50px);
    padding: 7px 0;
}

.loginForm div.outButton.w120 input:hover,
.loginForm a.butLink:hover {
    background: #26a69a;
}

.loginForm div.outButton.w120 input:active,
.loginForm a.butLink:active {
    background: #00796b;
}

.loginForm .outBox > table {
    padding: 25px;
    text-align: center;
}

.loginForm select[name="lang"] {
    outline: none;
    background: none;
    border: none;
    border-radius: 0;
    padding-right: 26px;
    font-weight: 600;
    padding-bottom: 4px;
    cursor: pointer;
}

#langGlobe {
    position: absolute;
    top: 9px;
    right: 28px;
    z-index: -1;
}

.loginForm #shib2 > td {
    padding-top: 40px;
    font-size: 12pt;
}

.loginForm #ldap2 > td:nth-child(1) > b,
.loginForm #ldap1 > td:nth-child(1) > b {
    font-weight: 100;
    position: absolute;
    left: 50px;
    font-size: 16pt;
    cursor: pointer;
    z-index: 2;
    width: 250px;
    text-align: left;
    transition:
        font-size 0.2s ease,
        top 0.2s ease;
    padding: 1px 0;
}

.loginForm #ldap1 > td:nth-child(1) > b {
    top: 70px;
}

.loginForm #ldap1 > td:nth-child(1) > b[moved] {
    top: 50px;
    font-size: 10pt;
    cursor: default;
    background: transparent;
    border: none;
}

.loginForm #ldap2 > td:nth-child(1) > b {
    top: 130px;
}

.loginForm #ldap2 > td:nth-child(1) > b[moved] {
    top: 110px;
    font-size: 10pt;
    cursor: default;
    background: transparent;
    border: none;
}

.loginForm input.std.w200 {
    border: none;
    outline: none;
    font-size: 16pt;
    position: absolute;
    left: 50px;
    width: 250px;
    background: transparent !important;
    font-weight: 400 !important;
    padding: 1px 0 !important;
    min-width: 250px !important;
}

.loginForm #ldap1 > td:nth-child(2) > input {
    top: 70px;
}

.loginForm #ldap2 > td:nth-child(2) > input {
    top: 130px;
}

.loginForm .outBox > table > tbody > tr:nth-child(1) {
    position: absolute;
    left: -115px;
    top: 25px;
}

.loginForm .outBox > table > tbody > tr:nth-child(2) {
    display: none;
}

/** header */

body > table {
    z-index: 100;
    min-height: 38px !important;
    padding: 8px 16px;
    position: fixed;
    top: 0;
    transition: padding 0.1s ease;
    box-shadow: 0 -3px 3px 3px rgba(0, 0, 0, 0.5);
}

tr[height="25"] {
    height: initial;
}

body > table td {
    padding: 8px 0;
}

body > table * {
    color: rgba(255, 255, 255, 0.5) !important;
    font-weight: normal !important;
    font-size: 16px;
    padding: 15px 0;
}

body > table b {
    color: rgba(255, 255, 255, 0.75) !important;
}

body > table a:hover {
    color: #fff !important;
}

body > table td > span {
    visibility: hidden;
}

body > table td > span > * {
    visibility: initial;
}

span.navLink b {
    color: #fff !important;
}

body > table td:nth-child(1) > span > *:nth-child(1) {
    font-size: 20px;
    color: #fff !important;
}

.topLayout {
    width: 90%;
}

#upTop {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 48px;
    height: 48px;
    background: #455a64;
    border-radius: 100%;
    box-shadow: rgba(0, 0, 0, 0.5) 0 3px 7px -2px;
    cursor: pointer;
    transition: transform 0.2s ease;
    transform: scale(0);
    user-select: none;
    fill: #ffffff;
}

#refProgress {
    height: 4px !important;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 200;
    transition: width 1s linear 0s;
}

.notify {
    display: inline-block;
    width: 25px;
    height: 25px;
    padding: 0;
    vertical-align: top;
    margin-right: 30px;
    cursor: pointer;
    user-select: none;
}

.notify:hover {
    filter: brightness(1.5);
}

.notify.off {
    background: url("assets/notifications_none.svg");
}

.notify.on {
    background: url("assets/notifications_active.svg");
}

.notifications {
    position: fixed;
    top: 70px;
    right: 25px;
    width: 250px;
    min-height: 25px;
    border: thin solid;
    box-shadow: 0 2px 5px -1px #000;
    border-radius: 5px;
    z-index: 500;
    transition: opacity linear 0.1s;
    opacity: 1;
    overflow: hidden;
}

.notifications-hide {
    opacity: 0;
    visibility: hidden;
}

.notifications > a {
    display: block;
    padding: 6px 12px;
    font-size: 16px;
    font-weight: 100;
    border-bottom: thin solid;
    position: relative;
}

.notifications > b {
    text-align: center;
    width: 100%;
    display: inline-block;
    font-size: 17px;
    font-weight: 600;
    padding: 14px 0;
}

.notifications > a > b {
    font-size: 18px;
    font-weight: 600;
}

/** subject select */
div.mainInfo {
    margin-top: 30px !important;
}

div.subjectSelect {
    display: grid;
    grid-template-columns: 270px 270px 270px;
    grid-gap: 20px 24px;
    place-content: center;
    margin: 0 50px;
}

div.subjectSelect .updButton {
    position: absolute;
    bottom: 45px;
    right: 7px;
    font-size: 12px;
    font-weight: 500;
    width: auto;
    padding: 2px 5px;
}

div.subjectSelect > .subject {
    border-radius: 7px;
    padding: 16px 12pt;
    min-height: 140px;
    position: relative;
    width: 240px;
    overflow: hidden;
    box-shadow: 0 1px 3px -1px rgba(0, 0, 0, 0.25);
}

div.subjectSelect.mainInfo > a {
    min-height: 90px;
}

@media only screen and (max-width: 1000px) {
    div.subjectSelect {
        grid-template-columns: 270px 270px;
    }
}

@media only screen and (max-width: 650px) {
    div.subjectSelect {
        grid-template-columns: 270px;
    }
}

div.subjectSelect > .subject:hover {
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.25);
}

div.subjectSelect > .subject > div.subject-title {
    font-size: 16pt;
    width: calc(100% - 80px);
}

div.subjectSelect > .subject > div.subject-body {
    font-size: 12pt;
    width: calc(100% - 85px);
    margin-top: 5px;
}

div.subjectSelect > .subject > div.subject-footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    font-size: 12pt;
    padding: 7px 0;
}

div.subjectSelect > span.subjectHeader {
    grid-column: 1/-1;
    width: auto;
    height: 35px;
    background: linear-gradient(to right, #343a40 20%, rgba(0, 0, 0, 0) 99%);
    line-height: 35px;
    padding-left: 34px;
    font-size: 22px;
    border-bottom-left-radius: 8px;
    border-top-left-radius: 8px;
    color: #fff;
    margin-bottom: -12px;
    font-weight: 100;
    cursor: pointer;
    user-select: none;
}

div.subjectSelect > span.subjectHeader:before {
    content: "";
    position: absolute;
    margin-top: 13px;
    margin-left: -21px;
    border: solid #c7c7c7;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    transition: all 0.1s ease;
}

div.subjectSelect > span.subjectHeader.active:before {
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.subject-hidden {
    display: none;
}

.icon {
    width: 70px;
    height: 70px;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    right: 14px;
    top: 14px;
}

.icon-aag {
    background-image: url("./assets/icons/aag.svg");
}

.icon-ag1 {
    background-image: url("./assets/icons/ag1.svg");
}

.icon-osy {
    background-image: url("./assets/icons/osy.svg");
}

.icon-pa1 {
    background-image: url("./assets/icons/pa1.svg");
}

.icon-pa2 {
    background-image: url("./assets/icons/pa2.svg");
}

.icon-pdp {
    background-image: url("./assets/icons/pdp.svg");
}

.icon-pjv {
    background-image: url("./assets/icons/pjv.svg");
}

.icon-ps1 {
    background-image: url("./assets/icons/ps1.svg");
}

.icon-pyt {
    background-image: url("./assets/icons/pyt.svg");
}

.icon-setting {
    background-image: url("./assets/icons/settings.svg");
}

.icon-faq {
    background-image: url("./assets/icons/faq.svg");
}

.icon-compile {
    background-image: url("./assets/icons/compile.svg");
}

.icon-unknown {
    background-image: url("./assets/icons/unknown.svg");
}

/** item header */

table.header {
    background: none !important;
    background-color: #fff;
    padding-bottom: 8px;
    margin-bottom: 20px;
}

td.header {
    position: relative;
}

td.header > b {
    font-size: 3.5rem;
    font-weight: 300;
    line-height: 1.2;
}

td.header > small {
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 2rem;
    font-weight: 100;
}

td[valign="top"] {
    vertical-align: middle;
}

.outBox > table:not(.header) {
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) /*!important*/;
    border: solid thin rgba(0, 0, 0, 0.125);
    border-radius: 3px;
}

/** item body */

.rtbCell > .outButton,
.rtbCell > .but1 {
    float: right;
}

.rtbCell > table {
    background-color: transparent;
}

.ltCell,
.tCell,
.rtCell,
.lCell,
.rCell,
.lbCell,
.rbCell,
.bCell,
.ltbCell,
.rtbCell,
.lrtCell,
.lrbCell,
.Cell,
.tbCell {
    border: none !important;
    padding: 8px 10px !important;
}

.lrtCell {
    border-bottom: solid thin rgba(0, 0, 0, 0.125) !important;
}

.ltCell {
    border-top-left-radius: 3px;
}

.rtCell {
    border-top-right-radius: 3px;
}

.lrtbCell {
    font-size: 10pt;
    border: none !important;
    border-top: solid thin rgba(0, 0, 0, 0.125) !important;
    border-bottom: solid thin rgba(0, 0, 0, 0.125) !important;
    padding: 10px !important;
}

.rtbCell {
    vertical-align: top !important;
}

.ltbCell,
.lrtbCell,
.rtbCell {
    max-width: 1000px;
    overflow-x: auto;
}

.lrtbSepCell,
.ltbSepCell,
.rtbSepCell,
.tbSepCell,
.lrtbOkSepCell,
.ltbOkSepCell,
.rtbOkSepCell,
.tbOkSepCell,
.lrtbHalfSepCell,
.ltbHalfSepCell,
.rtbHalfSepCell,
.tbHalfSepCell,
.lrtbWaitSepCell,
.ltbWaitSepCell,
.rtbWaitSepCell,
.tbWaitSepCell,
.lrtbXSepCell,
.ltbXSepCell,
.rtbXSepCell,
.tbXSepCell,
.lrtbFailSepCell,
.ltbFailSepCell,
.rtbFailSepCell,
.tbFailSepCell,
.lrtbEditSepCell,
.ltbEditSepCell,
.rtbEditSepCell,
.tbEditSepCell {
    padding: 8px 10px;
    font-size: 1.2em;
    border-bottom: solid thin rgba(0, 0, 0, 0.125);
    color: #fff;
}

.dropDownHide {
    display: none;
}

.dropDownHeader {
    cursor: pointer;
}

form > center > div:not(:nth-child(1)) .lrtbCell ul {
    list-style: none;
    padding-inline-start: 10px;
    margin-top: 3px;
}

form > center > div:not(:nth-child(1)) .lrtbCell li {
    font-weight: 700;
    letter-spacing: 0.1px;
    padding: 5px 0;
}

form > center > div:not(:nth-child(1)) .lrtbCell li:last-child {
    font-weight: 700;
    font-size: 11pt;
}

li.testRes {
    overflow: auto;
}

li.testRes > ul {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-auto-rows: minmax(25px, auto);
    padding-left: 10px;
}

@media only screen and (max-width: 1000px) {
    li.testRes > ul {
        grid-template-columns: 50% 50%;
    }
}

li.testRes > ul > li {
    background: initial;
    border: none;
    font-weight: 400 !important;
    letter-spacing: initial !important;
    padding: 2px 0 !important;
    font-size: 10pt !important;
}

li.testRes a {
    border: thin solid #283593;
    border-radius: 3px;
    color: #3949a2;
    padding: 0 6px 2px;
    display: inline-block;
    font-weight: 600;
    background-color: #fff;
    margin-left: 14px;
}

li.testRes a:hover {
    box-shadow: 0 0 6px -1px #3f51b5;
}

li.testRes > ul > li:first-child {
    font-weight: 500;
}

.gridHelp {
    grid-column: 1;
}

li.testRes > ul > li input[type="checkbox"] {
    position: relative;
    top: 2px;
    margin: 0;
    margin-right: 5px;
}

li.testRes:before {
    width: 25px;
    display: inline-block;
    text-align: center;
    line-height: 15pt;
    margin-right: -2px;
}

li.testRes > div.badges {
    float: right;
    display: flex;
    flex-flow: row;
    align-items: flex-end;
}

@media only screen and (max-width: 1000px) {
    li.testRes > div.badges {
        flex-flow: column;
    }
}

badge {
    font-family: "Hack", "Noto Color Emoji";
    font-size: 13px;
    display: inline-block;
    color: #fff;
    line-height: 1;
    margin: 1px 3px;
    height: 19px;
    font-weight: 300;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.6);
}

badge b {
    font-weight: 500;
}

badge > label {
    padding: 3px 7px;
    display: inline-block;
    height: calc(100% - 6px);
}

badge > *:first-child {
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
}

badge > *:last-child {
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
}

badge > span {
    background: #343a40;
    padding: 3px 7px;
    display: inline-block;
    height: calc(100% - 6px);
}

badge.ok > label {
    background: #28a745;
}

badge.warn > label {
    background: #ffc107;
}

badge.danger > label {
    background: #dc3545;
}

badge.light > label {
    background: #777;
}

badge.info > label {
    background: #17a2b8;
}

badge.dark > label {
    background: #343a40;
}

span.testType {
    font-weight: 500;
}

li.testAOK:before {
    content: "\26A0";
    color: #aaa;
}

li.testAOK {
    border-left: #ffc107 4px solid;
}

li.testOK:before {
    content: "\2714";
    color: rgba(0, 0, 0, 0.15);
    text-shadow: 0 0 0 #66d85e;
}

li.testOK {
    border-left: #5ed562 4px solid;
}

li.testFailed:before {
    content: "\274C";
    color: #f00;
}

li.testFailed {
    border-left: #f44336 4px solid;
}

li.testUnknown:before {
    content: "\2796";
    color: #aaa;
}

li.testUnknown {
    border-left: #bdbdbd 4px solid;
}

.ltbSepCell,
.ltbOkSepCell,
.ltbHalfSepCell,
.ltbWaitSepCell,
.ltbXSepCell,
.ltbFailSepCell,
.ltbEditSepCell {
    border-top-left-radius: 3px;
}

.tbSepCell,
.tbOkSepCell,
.tbHalfSepCell,
.tbWaitSepCell,
.tbXSepCell,
.tbFailSepCell,
.tbEditSepCell {
    padding-left: 5px;
}

.rtbSepCell,
.rtbOkSepCell,
.rtbHalfSepCell,
.rtbWaitSepCell,
.rtbXSepCell,
.rtbFailSepCell,
.rtbEditSepCell {
    border-top-right-radius: 3px;
}

/** item colored header */

.lrtbOkSepCell,
.ltbOkSepCell,
.rtbOkSepCell,
.tbOkSepCell {
    background-color: #00c000;
    text-shadow: 0 1px 0 #006400;
}

.lrtbHalfSepCell,
.ltbHalfSepCell,
.rtbHalfSepCell,
.tbHalfSepCell {
    background-color: #80c000;
    text-shadow: 0 1px 0 #486d00;
}

.lrtbWaitSepCell,
.ltbWaitSepCell,
.rtbWaitSepCell,
.tbWaitSepCell {
    background-color: #c0c000;
    text-shadow: 0 1px 0 #888800;
}

.lrtbXSepCell,
.ltbXSepCell,
.rtbXSepCell,
.tbXSepCell {
    background-color: #c00080;
    text-shadow: 0 1px 0 #680045;
}

.lrtbFailSepCell,
.ltbFailSepCell,
.rtbFailSepCell,
.tbFailSepCell {
    background-color: #c04000;
    text-shadow: 0 1px 0 #6f2500;
}

.lrtbEditSepCell,
.ltbEditSepCell,
.rtbEditSepCell,
.tbEditSepCell {
    background-color: #0099cc;
    text-shadow: 0 1px 0 #004f6a;
}

/** list box */

body > center > table {
    border: solid thin rgba(0, 0, 0, 0.175);
    border-radius: 3px;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
}

.menuList {
    display: inline-block;
    padding: 7px 0;
    font-size: 12pt;
    font-weight: bold;
}
.menuListDis {
    display: inline-block;
    padding: 7px 0;
    font-size: 12pt;
}

.lBox,
.mBox,
.mtBox,
.mbBox,
.rBox {
    border-bottom: solid thin rgba(0, 0, 0, 0.1);
    padding: 4px 18px;
    height: 30px;
}

body > center > table > tbody > tr:last-child > td {
    border: none;
}

.hdrDis {
    border-bottom: solid thin rgba(0, 0, 0, 0.175);
    background-color: rgba(0, 0, 0, 0.075);
    padding: 8px 16px;
    font-size: 13pt;
}

.hdrDis b {
    font-weight: 500;
}

body > center > table > thead > tr > td:nth-child(3) > div > div {
    text-align: center;
}

/** results table */

tr.resRow td {
    padding: 2px 8px;
}

tr.resRow:hover {
    background-color: rgba(0, 0, 0, 0.125) !important;
}

tr.resHdr td {
    background-color: rgba(0, 0, 0, 0.075);
    height: 20px;
}

.hdrCell {
    background-color: rgba(0, 0, 0, 0.075);
    height: 20px;
    padding: 2px 0;
    text-indent: 8px;
}

tr.resHdr td > a {
    padding: 2px 0;
    text-indent: 8px;
    width: 100%;
    height: 100%;
    display: block;
}

tr.resHdr td > a:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

/*
tr.resStat td {
    font-weight: normal;
    background-color: #989889;
    border-color: #cccccc #666666 #666666 #cccccc;
    border-style: solid;
    border-width: 1px;
    padding-left: 3px;
    padding-right: 3px;
    padding-top: 3px;
    text-align: right;
}*/

/** buttons */

.radio {
    height: 28px;
}
.radio input[type="radio"] {
    -moz-appearance: initial;
    -webkit-appearance: initial;
    appearance: initial;
    height: 20px;
    width: 20px;
    border-radius: 100%;
    transition: all 250ms ease;
    vertical-align: bottom;
}

input.std,
input.stdDis,
input.test,
input.testDis,
input.flt,
input.fltDis,
input.seek,
input.seekDis,
input.err {
    font-weight: bold;
    font-size: 12px;
    padding: 5px;
    min-width: 280px;
    border-radius: 2px;
}

input.err {
    color: #fff;
}

.updButton,
.disButton,
.delButton,
.insButton,
.fltButton,
.seekButton,
div.but2 > a {
    box-shadow: 0 2px 3px -2px rgba(0, 0, 0, 0.175) !important;
    border-radius: 4px;
    border: 1px solid;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-size: 14px;
    font-weight: bold;
    padding: 4px 2px;
    text-decoration: none;
    width: 100%;
    text-align: center;
}

div.but2 {
    margin: 0 4px;
}

.updButton,
a.butLink {
    outline-color: #263238;
}

.updButton:hover,
.disButton:hover,
.delButton:hover,
.insButton:hover,
.fltButton:hover,
.seekButton:hover,
div.but2 > a:hover {
    box-shadow: inset 0 0 0 99999px rgba(255, 255, 255, 0.125) !important;
}

.updButton:active,
.disButton:active,
.delButton:active,
.insButton:active,
.fltButton:active,
.seekButton:active,
div.but2 > a:active {
    outline: none;
    box-shadow: inset 0 0 0 99999px rgba(0, 0, 0, 0.2) !important;
}

.disButton,
.fltButton,
.seekButton {
    background-color: #9e9e9e;
    border-color: #616161 !important;
    text-shadow: 0 1px 0 #616161;
    outline-color: #424242;
}

.delButton,
a.butDel {
    background-color: #f44336;
    border-color: #d32f2f !important;
    text-shadow: 0 1px 0 #d32f2f;
    outline-color: #b71c1c;
}

.butJSDis {
    background-color: #383838;
    border-color: #1c1c1c !important;
    text-shadow: 0 1px 0 #1c1c1c;
    outline-color: #0b0b0b;
}

a.butJS {
    background-color: #3f51b5;
    border-color: #303f9f !important;
    text-shadow: 0 1px 0 #303f9f;
    outline-color: #1a237e;
}

a.butJSDel {
    background-color: #9c27b0;
    border-color: #7b1fa2 !important;
    text-shadow: 0 1px 0 #7b1fa2;
    outline-color: #4a148c;
}

a.butTest {
    background-color: #3f51b5;
    border-color: #303f9f !important;
    text-shadow: 0 1px 0 #303f9f;
    outline-color: #1a237e;
}

a.butWarn {
    background-color: #ff9800;
    border-color: #f57c00 !important;
    text-shadow: 0 1px 0 #f57c00;
    outline-color: #e65100;
}

.insButton,
a.butSortLo,
a.butSortHi {
    background-color: #795548;
    border-color: #5d4037 !important;
    text-shadow: 0 1px 0 #5d4037;
    outline-color: #3e2723;
}

.textOk {
    color: #4caf50;
    font-weight: bold;
}

.textWarn {
    color: #feac27;
    font-weight: bold;
}
.textCrit {
    color: #d32f2f;
    font-weight: bold;
}
.textOther {
    color: #808080;
    font-weight: bold;
}

/** boxes */

.grayBox,
.greenBox,
.redBox,
.yellowBox,
.legendBox {
    width: 12px;
    height: 12px;
    display: block;
    border-radius: 50%;
    box-shadow: 0 1px 1px -1px rgba(0, 0, 0, 0.22);
    position: relative;
    left: 10px;
}

.grayBox {
    background-color: #c0c0c0;
}

.greenBox {
    background-color: #00ff00;
}

.redBox {
    background-color: #ff0000;
}

.yellowBox {
    background-color: #ffff00;
}

.legendBox {
    margin: 3px;
}

.dupC {
    color: #a20000;
    font-weight: 500;
}

.dupCpar {
    background-color: #ff6262;
}

.nOk:before {
    content: "❌";
}

.wOk:before {
    content: "❌";
    color: #ff00ff;
}
.yOk:before {
    content: "✔️";
}
.oOk:before {
    content: "✔️";
    color: rgba(0, 0, 0, 0.15);
    text-shadow: 0 0 0 #ffc107;
}

.nOk:before,
.wOk:before,
.yOk:before,
.oOk:before {
    float: left;
    width: 1.5em;
    text-align: center;
}

select.std,
select.stdDis,
select.test,
select.flt {
    font-size: 10pt;
}

/** old css */

.menu {
    cursor: default;
    background-color: #00ccff;
}
.menuPane {
    position: absolute;
    display: none;
    background-color: #00ccff;
    border: solid 1px #000000;
}
.menuSep {
    width: 90%;
    height: 1px;
    font-size: 0;
    background-color: black;
}

.item,
.itemLo,
.itemHi {
    cursor: default;
    font-family: Tahoma, Verdana, sans-serif;
    font-size: 12px;
    padding: 0.2em 0.4em;
}
.itemLo {
    font-weight: bold;
}
.itemHi {
    font-weight: bold;
    background-color: #0088cc;
}

.ac {
    text-align: center;
}
.al {
    text-align: left;
}
.ar {
    text-align: right;
}

.w20 {
    width: 20px;
}
.w35 {
    width: 40px;
}
.w40 {
    width: 40px;
}
.w50 {
    width: 50px;
}
.w65 {
    width: 65px;
}
.w70 {
    width: 70px;
}
.w80 {
    width: 80px;
}
.w100 {
    width: 100px;
}
.w120 {
    width: 120px;
}
.w200 {
    width: 200px;
}
.w270 {
    width: 270px;
}
.w450 {
    width: 450px;
}
.fw {
    width: 100%;
}
.w80p {
    width: 80%;
}
.w50p {
    width: 50%;
}
.float {
    float: left;
}

.fntSmall {
    font-size: 8px;
}

.titleBox {
    font-weight: bold;
    background-color: #0099cc;
    border-color: #007799 #00bbee #00bbee #007799;
    border-style: solid;
    border-width: 1px;
}
.bigTitleBox {
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    background-color: #0099cc;
    border-color: #007799 #00bbee #00bbee #007799;
    border-style: solid;
    border-width: 1px;
}

.insBox {
    width: 400px;
}
.insLab {
    background-color: #aaaaaa;
    border-color: #cccccc #666666 #666666 #cccccc;
    border-style: solid;
    border-width: 1px;
}

input.stdDis,
input.testDis {
    background-color: #989889;
}

input.fltDis {
    color: #ffffff;
    background-color: #989889;
}
input.flt {
    color: #000000;
    background-color: #989889;
}

input.seekDis {
    color: #ffffff;
    background-color: #989889;
    font-size: 10px;
}
input.seek {
    color: #000000;
    background-color: #989889;
    font-size: 10px;
}
select.seek {
    font-family: Courier;
    font-size: 10px;
}

.textHi {
    color: #800000;
}
.textStd {
    color: #000000;
}
.textDis {
    color: #808080;
}

.dupS {
    color: #c000c0;
}
.dupA {
    color: #c000c0;
}
.dupG {
    color: #ffff00;
}

.flatButton {
    background-color: #aaaaaa;
    border-color: #cccccc #666666 #666666 #cccccc;
    border-style: solid;
    border-width: 1px;
    text-align: center;
}
.hdrUp {
    height: 15px;
    background-color: #989889;
    border-color: #cccccc #666666 #666666 #cccccc;
    border-style: solid;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    padding-left: 3px;
    padding-right: 3px;
    padding-top: 3px;
}
.hdrDown {
    height: 15px;
    background-color: #989889;
    border-color: #666666 #cccccc #cccccc #666666;
    border-style: solid;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    padding-left: 3px;
    padding-right: 3px;
    padding-top: 3px;
}

.hdrLink {
    display: block;
    width: 100%;
}

img.border {
    border-color: #6c6c61 #b2b2a7 #b2b2a7 #6c6c61;
    border-style: solid;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
}
.visY {
    visibility: visible;
}
.visN {
    visibility: hidden;
}

.pageCount {
    color: #800000;
}
