@import "./common.css";

.uniVal {
    color: #d6d6d6;
}

/** inverted shibooleth */

#loadWrapper {
    background: #2a2a2a;
}

#shib1 > td > img {
    box-sizing: border-box;
    background: url(./assets/shibboleth-inverted.png) no-repeat;
    background-size: 200px auto;
    width: 200px;
    height: 70px;
    padding-left: 200px;
}

body {
    color: #fff;
    background-color: #000;
    background-image: url("./assets/background-dark.PNG");
}

table {
    background-color: #2d2d2d;
}

a {
    color: #03a9f4;
}

a:visited {
    color: #c384e2;
}

a:active {
    color: #ec407a;
}

select {
    color: #fff;
    background: #2b2b2b;
    outline-color: #a5a5a5;
}

select > option {
    background-color: #242424;
}

.app_name {
    text-shadow: 0 0 2px rgba(255, 255, 255, 0.25);
    color: #cacaca;
}

.app_name > b {
    color: #f5f5f5;
}

.loginForm > center > div > div > table:before {
    background: #263238;
}

.loginForm table {
    background-color: #252525 !important;
}

.loginForm .insBox {
    background: #252525;
}

.loginForm div.outButton.w120 input,
.loginForm a.butLink {
    outline-color: #b2dfdb;
}

.loginForm select[name="lang"] {
    border-bottom: thin solid rgba(255, 255, 255, 0.25);
    color: #d1d1d1;
}

#langGlobe {
    fill: #d1d1d1;
}

.loginForm #ldap2 > td:nth-child(1) > b,
.loginForm #ldap1 > td:nth-child(1) > b {
    color: #cdcdcd;
    background: #252525;
}

.loginForm input.std.w200 {
    border-bottom: thin solid rgba(255, 255, 255, 0.3);
}

/** header */

body > table {
    background-color: #1c1e1f !important;
}

body > table td {
    background-color: #1c1e1f !important;
}

#refProgress {
    background-color: rgb(228, 139, 1) !important;
}

.notifications {
    background: #2d2d2d;
    border-color: #505050;
}

.notifications > a {
    color: #fff;
    border-color: #505050;
}

.notifications > a:hover {
    background: #3f3f3f;
}

/** subject select */

.subject {
    border: thin solid #505050;
    background-color: #2d2d2d;
}

.subject:hover {
    background-color: #333333;
}

.subject-title {
    color: #fff;
}

.subject-body {
    color: #b8b8b8;
}

.subject-footer {
    background-color: #3b3b3b;
    border-top: thin solid #505050;
    color: #fff;
}

.subject-homepage {
    background-color: #546e7a;
    border-color: #455a64;
}

.subject-homepage:hover {
    background-color: #607d8b;
    border-color: #455a64;
}

.icon {
    filter: invert(95%);
}

/** task select */

.course_grp {
    border: thin solid #313131;
    background-color: #2d2d2d;
}

.course_grp > *:nth-child(even) {
    background: rgba(0, 0, 0, 0.1);
}

.course_grp a {
    color: #fff;
}

.course_link {
    background: #2d2d2d;
    color: #fff;
}

.course_link.course_disabled span.course_link_name,
span.course_link {
    color: #6f6f6f;
}

.course_link.course_disabled {
    border-color: #676767;
}

span span.course_link_score {
    background: #394145;
}

span.course_link_score_sum {
    color: #eae4ef !important;
}

a.course_link:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

.modal {
    background: #282828;
    box-shadow: 0 5px 30px #000;
    border: thin solid #393939;
}

.modal-close {
    background: #383838;
}

.modal-close:hover {
    background: #5e5e5e;
}

.modal-header {
    background: #1c1c1c;
    border-bottom: thin solid #393939;
}

.modal-score-my::after {
    color: #525252;
}

.modal-score-max {
    color: #d1d1d1;
}

.modal-deadline-late {
    color: #ff8585;
}

.modal-line {
    color: #fff !important;
    border-bottom: thin solid #333333;
}

.modal-line:hover {
    background: #393939;
}

.modal-spinner {
    background: url(./assets/spinner.svg),
        radial-gradient(ellipse at center, #000a 40%, #0000 70%);
}

.mtask-score-my::after {
    color: #525252;
}

.mtask-score-max {
    color: #d1d1d1;
}

/** item header */

table.header {
    border-bottom: solid thin rgba(255, 255, 255, 0.175);
}

.outBox > table:not(.header) {
    background-color: #0e0e0e;
}

/** item body */

.ltCell,
.tCell,
.rtCell,
.lCell,
.rCell,
.lbCell,
.rbCell,
.bCell,
.ltbCell,
.rtbCell,
.lrtCell,
.lrbCell,
.Cell,
.tbCell {
    background-color: rgba(255, 255, 255, 0.125) !important;
}

.lrtbCell {
    background-color: #212121;
}

.lrtbCell img {
    filter: invert(100%);
    transition:
        filter 0.2s ease,
        background 0.2s ease;
}

.lrtbCell img:hover {
    filter: invert(0%);
    background-color: #fff;
}

.ltbCell::-webkit-scrollbar,
.lrtbCell::-webkit-scrollbar {
    height: 15px;
}

.ltbCell::-webkit-scrollbar-track,
.lrtbCell::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

.ltbCell::-webkit-scrollbar-thumb,
.lrtbCell::-webkit-scrollbar-thumb {
    background-color: rgb(78, 78, 78);
    outline: 1px solid rgb(44, 44, 44);
}

.ltbCell::-webkit-scrollbar-thumb:hover,
.lrtbCell::-webkit-scrollbar-thumb:hover {
    background-color: rgb(102, 102, 102);
    outline: 1px solid rgb(58, 58, 58);
}

li.testRes a {
    color: #ffffff;
    background-color: #3f51b5;
}

li.testRes {
    border-top: thin solid rgba(255, 255, 255, 0.2);
}

/** item colored header */

.lrtbSepCell,
.ltbSepCell,
.rtbSepCell,
.tbSepCell {
    background-color: #484848;
    color: #fff;
}

/** list box */

.menuListDis {
    color: #a5a5a5;
}

body > center > table > tbody > tr:nth-child(even) {
    background-color: rgba(255, 255, 255, 0.03);
}

/** results table */

tr.resRow td {
    /*border-top: thin solid rgba(0, 0, 0, 0.125);*/
    border-top: thin solid #505050;
}

tr.resRow:nth-child(even) {
    /*background-color: rgba(0, 0, 0, 0.025);*/
    background-color: #404040;
}

.hdrCell {
    color: #fff;
}

tr.resHdr td > a {
    color: #fff;
}

/** buttons */

.radio input[type="radio"] {
    background: #3a3a3a;
    border: 1px solid #646464;
}
.radio input[type="radio"]:checked {
    background-color: #3197ee;
    box-shadow: inset 0 0 0 4px #3a3a3a;
}
.radio input[type="radio"]:focus {
    outline: none;
    border-color: #3197ee;
}
.radio input[type="radio"]:disabled {
    box-shadow: inset 0 0 0 4px #474747;
    border-color: #646464;
    background: #676767;
}
.radio input[type="radio"]:disabled:checked {
    box-shadow: inset 0 0 0 4px #474747;
    border-color: #646464;
    background: #4caf50;
}
.radio input[type="radio"].radio-red {
    box-shadow: inset 0 0 0 4px #4caf50;
}
.radio input[type="radio"].radio-red:disabled:checked {
    background: #cf2727;
    border-color: #cf2727 !important;
}

input.std,
input.stdDis,
input.test,
input.testDis,
input.flt,
input.fltDis,
input.seek,
input.seekDis,
input.err {
    color: #e5e5e5;
    border: thin solid rgba(255, 255, 255, 0.1);
}

input.std,
input.test {
    background-color: rgba(255, 255, 255, 0.075);
}

input.err {
    background-color: #bd2929;
}

.updButton,
a.butLink {
    background-color: #455a64;
    border-color: #263238 !important;
    text-shadow: 0 1px 0 #263238;
}

/*!
 * Agate by Taufik Nurrohman <https://github.com/tovic>
 * ----------------------------------------------------
 *
 * #ade5fc
 * #a2fca2
 * #c6b4f0
 * #d36363
 * #fcc28c
 * #fc9b9b
 * #ffa
 * #fff
 * #333
 * #62c8f3
 * #888
 *
 */

.hljs {
    display: block;
    width: fit-content;
    overflow-x: auto;
    padding: 0.5em;
    background: #333;
    color: white;
    font-family: Hack, monospace;
}

code.hljs,
tt.hljs {
    display: inline;
    padding: 0.1em;
}

.hljs-name,
.hljs-strong {
    font-weight: bold;
}

.hljs-code,
.hljs-emphasis {
    font-style: italic;
}

.hljs-tag {
    color: #62c8f3;
}

.hljs-variable,
.hljs-template-variable,
.hljs-selector-id,
.hljs-selector-class {
    color: #ade5fc;
}

.hljs-string,
.hljs-bullet {
    color: #a2fca2;
}

.hljs-type,
.hljs-title,
.hljs-section,
.hljs-attribute,
.hljs-quote,
.hljs-built_in,
.hljs-builtin-name {
    color: #ffa;
}

.hljs-number,
.hljs-symbol,
.hljs-bullet {
    color: #d36363;
}

.hljs-keyword,
.hljs-selector-tag,
.hljs-literal {
    color: #fcc28c;
}

.hljs-comment,
.hljs-deletion,
.hljs-code {
    color: #888;
}

.hljs-regexp,
.hljs-link {
    color: #c6b4f0;
}

.hljs-meta {
    color: #fc9b9b;
}

.hljs-deletion {
    background-color: #fc9b9b;
    color: #333;
}

.hljs-addition {
    background-color: #a2fca2;
    color: #333;
}

.hljs a {
    color: inherit;
}

.hljs a:focus,
.hljs a:hover {
    color: inherit;
    text-decoration: underline;
}
