@layer light, dark;

@layer light {
    :root {
        --background-color: hsl(0 0% 100%);
        --foreground-color--muted: hsl(240 7% 14%);
        --foreground-color: hsl(240 10% 3.9%);
        --divider-color: #eee;
    }
}

@layer dark {
    @media screen and (prefers-color-scheme: dark) {
        :root {
            --background-color: hsl(240 10% 3.9%);
            --foreground-color--muted: hsl(0 0% 80%);
            --foreground-color: hsl(0 0% 98%);
            --divider-color: hsl(0 0% 15%);
        }
    }
}

:root {
    font-family: "Inter", sans-serif;
}

@supports (font-variation-settings: normal) {
    :root {
        font-family: "Inter var", sans-serif;
    }
}

* {
    font-size: 14px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
}

ul {
    margin: 0 8px;
}

:global(button) {
    all: unset;
    outline: revert;
}

:global(button::-moz-focus-inner) {
    border: 0;
    padding: 0;
}

#loadWrapper {
    display: none;
}
