:root
{
    --font: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    --border-radius: 3px;
}

.errorReporter {
    position: fixed;
    bottom: 25px;
    left: 25px;
    background: #D32F2F;
    border: thin solid #B71C1C;
    color: #fff;
    padding: 1px 6px;
    white-space: pre;
    box-shadow: 0 0 2px 0 #707070;
    font-size: 8pt;
}

.errorReporter:before {
    content: "ProgTest Themes Error Reporter\A";
    font-size: 9pt;
}

/** page loader */

#loadWrapper {
    font-family: var(--font);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    user-select: none;
    transition: opacity .2s ease;
    opacity: 1;
    z-index: 1000;
}

.loadWrapperHide {
    opacity: 0 !important;
}

.loadWrapperHide > .anim-load {
    animation-play-state: paused !important;
}

.anim-load {
    animation-play-state: running;
    position: absolute;
    height: 30px;
    background: #565f7c;
    width: 30px;
    border-radius: 3px;
    left: calc(50% - 34px);
    transform-origin: right center;
}

@keyframes width {
    0% {
        transform: scale(1, 1);
    }
    50% {
        transform: scale(2.5, 1);
    }
    100% {
        transform: scale(1, 1);
    }
}

.anim-1 {
    top: calc(50% - 93px);
    animation: 1s width infinite;
}

.anim-2 {
    top: calc(50% - 55px);
    animation: 1s width infinite;
    animation-delay: .33s;
}

.anim-3 {
    top: calc(50% - 18px);
    animation: 1s width infinite;
    animation-delay: .66s;
}

.anim-logo {
    position: absolute;
    top: calc(50% - 93px);
    left: calc(50% + 5px);
}

/** global layout */

html
{
    height: 100%;
}

body
{
    overflow-y: scroll;
    font-size: 10px;
    font-family: var(--font);
    margin: 0;
    padding-bottom: 25px;
    background-attachment: fixed;
    background-size: cover;
    padding-top: 60px;
}

hr
{
    border: none;
    height: 1px;
    background-color: rgba(0, 0, 0, 0.175);
}

a
{
    text-decoration: none;
}

select
{
    border: thin solid #464646;
    border-radius: 3px;
    padding: 2px 6px;
    border: thin solid #b9b9b9;
}

form
{
    padding: 0;
    margin: 0;
}

input, button, select, tr
{
    font-family: var(--font);
    font-size: 12px;
}

select.std.w200[name="UID_UNIVERSITY"]
{
    width: -webkit-fill-available;
}


/* Login page */

.app_name
{
    text-align: center;
    font-size: 4.5rem;
    font-weight: 300;
    line-height: 0.6;
    margin-top: -38px;
    letter-spacing: 2px;
}

.app_name > b
{
    font-weight: 500;
}

.loginForm > center > div > div > table:before {
    content: "";
    width: 260px;
    height: 90%;
    position: absolute;
    top: 5%;
    left: -250px;
    box-shadow: 0px 5px 23px 0 rgba(0, 0, 0, 0.45);
    z-index: -1;
    border-radius: 7px;
}

#uniSel {
    position: absolute;
    top: 260px;
    left: calc(50% - 300px);
    width: 250px;
    font-size: 12pt;
}

.uniVal[active] {
    padding-left: 12px;
    border-left: 3px solid #FFEB3B;
    font-weight: 500;
    background: rgba(255, 255, 255, 0.075);
    box-shadow: 0px 1px 4px -3px rgba(0, 0, 0, 0.5);
}

.uniVal {
    padding: 5px 0 5px 15px;
    cursor: pointer;
}

.uniVal:hover {
    background: rgba(255, 255, 255, 0.125);
}

.loginForm td {
    background: transparent !important;
    border: none !important;
}

.loginForm table {
    border: none !important;
    box-shadow: none !important;
    border-radius: 7px !important;
}

.loginForm .insBox {
    position: absolute;
    width: 350px;
    margin: 0;
    height: 380px;
    border-radius: 7px;
    box-shadow: 0px 2px 42px 0 rgba(0, 0, 0, 0.28);
    left: calc(50% - 50px);
    top: 160px;
}

.loginForm div.outButton.w120 input,
.loginForm a.butLink {
    position: absolute;
    width: 120px;
    color: #fff;
    padding: 10px 0;
    border-radius: 3px;
    box-shadow: 0px 1px 3px 0 rgba(0, 0, 0, 0.25);
    border: none;
    outline-color: #004D40;
    font-size: 12pt;
    left: calc(50% - 60px);
    bottom: 80px;
    cursor: pointer;
    background-color: #009688;
}

.loginForm a.butLink:focus {
    outline-offset: 0px;
    outline-style: auto;
    outline-width: 4.8px;
}

.loginForm td:nth-child(2) > div.outButton.w120 input {
    bottom: 25px;
    font-size: 10pt;
    width: 100px;
    left: calc(50% - 50px);
    padding: 7px 0;
}

.loginForm div.outButton.w120 input:hover,
.loginForm a.butLink:hover {
    background: #26A69A;
}

.loginForm div.outButton.w120 input:active,
.loginForm a.butLink:active {
    background: #00796b;
}

.loginForm .outBox > table {
    padding: 25px;
    text-align: center;
}

.loginForm select[name="lang"] {
    background: none;
    outline: none;
    border: none;
    border-radius: 0;
    padding-right: 26px;
    font-weight: 600;
    padding-bottom: 4px;
    cursor: pointer;
}

#langGlobe {
    position: absolute;
    top: 9px;
    right: 25px;
    z-index: -1;
}

.loginForm #shib2 > td {
    padding-top: 40px;
    font-size: 12pt;
}

.loginForm #ldap2 > td:nth-child(1) > b,
.loginForm #ldap1 > td:nth-child(1) > b {
    font-weight: 100;
    position: absolute;
    left: 50px;
    font-size: 16pt;
    cursor: pointer;
    z-index: 2;
    width: 250px;
    text-align: left;
    transition: font-size 0.2s ease, top 0.2s ease;
    padding: 1px 0;
}

.loginForm #ldap1 > td:nth-child(1) > b {
    top: 70px;
}

.loginForm #ldap1 > td:nth-child(1) > b[moved] {
    top: 50px;
    font-size: 10pt;
    cursor: default;
    background: transparent;
    border: none;
}

.loginForm #ldap2 > td:nth-child(1) > b {
    top: 130px;
}

.loginForm #ldap2 > td:nth-child(1) > b[moved] {
    top: 110px;
    font-size: 10pt;
    cursor: default;
    background: transparent;
    border: none;
}

.loginForm input.std.w200 {
    border: none;
    outline: none;
    font-size: 16pt;
    position: absolute;
    left: 50px;
    width: 250px;
    background: transparent !important;
    font-weight: 400 !important;
    padding: 1px 0 !important;
    min-width: 250px !important;
}

.loginForm #ldap1 > td:nth-child(2) > input {
    top: 70px;
}

.loginForm #ldap2 > td:nth-child(2) > input {
    top: 130px;
}

.loginForm .outBox > table > tbody > tr:nth-child(1) {
    position: absolute;
    left: -115px;
    top: 25px;
}

.loginForm .outBox > table > tbody > tr:nth-child(2) {
    display: none;
}


/** header */

body > table
{
    z-index: 100;
    min-height: 38px !important;
    padding: 8px 16px;
    position: fixed;
    top: 0;
    transition: padding 0.1s ease;
    box-shadow: 0 -3px 3px 3px rgba(0, 0, 0, 0.5);
}

tr[height="25"]
{
    height: initial;
}

body > table td
{
    padding: 8px 0;
}

body > table *
{
    color: rgba(255,255,255,.5) !important;
    font-weight: normal !important;
    font-size: 16px;
    padding: 15px 0px;
}

body > table b
{
    color: rgba(255,255,255,.75) !important;
}

body > table a:hover
{
    color: #fff !important;
}

body > table td > span
{
    visibility: hidden;
}

body > table td > span > *
{
    visibility: initial;
}

span.navLink b
{
    color: #fff !important;
}

body > table td:nth-child(1) > span > *:nth-child(1)
{
    font-size: 20px;
    color: #fff !important;
}

.topLayout
{
    width: 90%;
}

#upTop
{
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 48px;
    height: 48px;
    background: #455A64;
    border-radius: 100%;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 3px 7px -2px;
    cursor: pointer;
    transition: transform .2s ease;
    transform: scale(0);
    user-select: none;
    fill: #ffffff;
}

#refProgress
{
    height: 4px !important;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 200;
    transition: width 1s linear 0s;
}

.notify {
    display: inline-block;
    width: 25px;
    height: 25px;
    padding: 0;
    vertical-align: top;
    margin-right: 30px;
    cursor: pointer;
    user-select: none;
}

.notify:hover {
    filter: brightness(1.5);
}

.notify.off {
    background: url('assets/notifications_none.svg');
}

.notify.on {
    background: url('assets/notifications_active.svg');
}

.notify-hide {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 10px;
    height: 10px;
    border: thin solid #5f5f5f;
    border-radius: 50%;
}

.notify-hide:hover {
    background: #4CAF50;
    border-color: #388E3C;
}

.notifications {
    position: absolute;
    top: 70px;
    right: 25px;
    width: 250px;
    min-height: 25px;
    border: thin solid;
    box-shadow: 0px 2px 5px -1px #000;
    border-radius: 5px;
    z-index: 500;
    transition: opacity linear 0.1s;
    opacity: 1;
    overflow: hidden;
}

.notifications-hide {
    opacity: 0;
    visibility: hidden;
}

.notifications > a {
    display: block;
    padding: 6px 12px;
    font-size: 16px;
    font-weight: 100;
    border-bottom: thin solid;
    position: relative;
}

.notifications > b {
    text-align: center;
    width: 100%;
    display: inline-block;
    font-size: 17px;
    font-weight: 600;
    padding: 14px 0;
}

.notifications > a > b {
    font-size: 18px;
    font-weight: 600;
}

/** subject select */
div.mainInfo {
    margin-top: 30px !important;
}

div.subjectSelect {
    display: grid;
    grid-template-columns: 270px 270px 270px;
    grid-gap: 20px 24px;
    place-content: center;
    margin: 0 50px;
}

div.subjectSelect > a {
    border-radius: 7px;
    padding: 16px 12pt;
    min-height: 140px;
    position: relative;
    width: 240px;
    overflow: hidden;
    box-shadow: 0 1px 3px -1px rgba(0, 0, 0, 0.25);
}

div.subjectSelect.mainInfo > a {
    min-height: 90px;
}

@media only screen and (max-width: 1000px)
{
    div.subjectSelect
    {
        grid-template-columns: 270px 270px;
    }
}

@media only screen and (max-width: 650px)
{
    div.subjectSelect
    {
        grid-template-columns: 270px;
    }
}

div.subjectSelect > a:hover {
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.25);
}

div.subjectSelect > a > div.subject-title {
    font-size: 16pt;
    width: calc(100% - 80px);
}

div.subjectSelect > a > div.subject-body {
    font-size: 12pt;
    width: calc(100% - 85px);
    margin-top: 5px;
}

div.subjectSelect > a >div.subject-footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    font-size: 12pt;
    padding: 7px 0;
}

div.subjectSelect > span.subjectHeader {
    grid-column: 1/-1;
    width: auto;
    height: 35px;
    background: linear-gradient(to right, #343a40 20%,rgba(0,0,0,0) 99%);
    line-height: 35px;
    padding-left: 14px;
    font-size: 22px;
    border-bottom-left-radius: 8px;
    border-top-left-radius: 8px;
    color: #fff;
    margin-bottom: -12px;
    font-weight: 100;
    cursor: pointer;
    user-select: none;
}

.subject-hidden {
    display: none;
}

.icon {
    width: 70px;
    height: 70px;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    right: 14px;
    top: 14px;
}

.icon-pa2 {
    background-image: url('./assets/icons/pa2.svg')
}

.icon-pa1 {
    background-image: url('./assets/icons/pa1.svg')
}

.icon-ps1 {
    background-image: url('./assets/icons/ps1.svg')
}

.icon-pjv {
    background-image: url('./assets/icons/pjv.svg')
}

.icon-ag1 {
    background-image: url('./assets/icons/ag1.svg')
}

.icon-aag {
    background-image: url('./assets/icons/aag.svg')
}

.icon-setting {
    background-image: url('./assets/icons/settings.svg');
}

.icon-faq {
    background-image: url('./assets/icons/faq.svg')
}

.icon-compile {
    background-image: url('./assets/icons/compile.svg'); 
}

.icon-osy {
    background-image: url('./assets/icons/osy.svg');
}

.icon-unknown {
    background-image: url('./assets/icons/unknown.svg');
}

/** task select */

.course_container {
    display: grid;
    grid-gap: 20px 35px;
    grid-template-columns: repeat(4, 330px);
    justify-content: center;
}

@media only screen and (max-width: 1500px) {
    .course_container {
        grid-template-columns: repeat(3, 330px);
    }
}

@media only screen and (max-width: 1150px) {
    .course_container {
        grid-template-columns: repeat(2, 330px);
    }
}

@media only screen and (max-width: 750px) {
    .course_container {
        grid-template-columns: repeat(1, 330px);
    }
}

.course_grp {
    border-radius: 5px;
    box-shadow: 0 2px 4px -2px rgba(0, 0, 0, 0.25);;
    height: fit-content;
    overflow: hidden;
}

span.course_title {
    display: block;
    font-size: 18pt;
    font-weight: 100;
    border-bottom: 1px solid;
    padding: 7px 0 7px 11px;
    color: #fff;
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.4);
}

.course_link {
    display: block;
    font-size: 13pt;
    position: relative;
    padding: 6px 0 6px 13px;
    border-left: 2px solid transparent;
    font-weight: 500;
}

.course_link.course_disabled {
    font-weight: 400;
}

span.course_link_name {
    display: block;
}

span.course_link_score {
    position: absolute;
    right: 15px;
    top: calc(50% - 16px);
    font-size: 17pt;
    font-weight: 100;
    color: #fff;
    background: #78909C;
    border-radius: 9px;
    padding: 0px 7px;
    line-height: 30px;
    height: 32px;
}

.course_link.course_disabled span.course_link_deadline {
    text-decoration: line-through;
}

span.course_link_deadline {
    font-weight: 100;
    font-size: 11pt;
    color: #a0a0a0;
}

.course_results_grp {
    order: 1;
    grid-row: 1;
    grid-column-end: -1;
    grid-column-start: 1;
    padding-bottom: 0;
}

.course_tasks_grp {
    order: 2;
}

.course_tests_grp {
    order: 3;
}

.course_sem_grp {
    order: 4;
}

.course_extras_grp {
    order: 5;
}

.course_tasks_extra_grp {
    order: 6;
}

.course_exams_grp {
    order: 7;
}

.course_unknown_grp {
    order: 8;
}

.course_results_grp .course_link_name {
    text-align: center;
}

.course_results_grp .course_link_name::before {
    content: "🏆";
    margin-right: 7px;
}

span.course_title::before {
    font-size: 15pt;
    margin-right: 7px;
    position: relative;
    top: -2px;
}

.course_tasks_grp span.course_title::before {
    content: "💻";
}

.course_tests_grp span.course_title::before {
    content: "✎";
}

.course_extras_grp span.course_title::before {
    content: "☕️";
}

.course_tasks_extra_grp span.course_title::before {
    content: "☘️";
}

.course_sem_grp span.course_title::before {
    content: "💕";
}

.course_exams_grp span.course_title::before {
    content: "💤";
}

.course_unknown_grp span.course_title::before {
    content: "❓";
}

.course_tasks_grp span.course_title {
    background: #7cb342;
}

.course_tests_grp span.course_title {
    background: #3f51b5;
}

.course_extras_grp span.course_title {
    background: #FB8C00;
}

.course_tasks_extra_grp span.course_title {
    background: #4caf50;
}

.course_sem_grp span.course_title {
    background: #9C27B0;
}

.course_exams_grp span.course_title {
    background: #795548;
}

.course_unknown_grp span.course_title {
    background: #9e9e9e;
}

.course_tasks_grp .course_link,
.course_tasks_grp span.course_title {
    border-color: #558b2f;
}

.course_tests_grp .course_link,
.course_tests_grp span.course_title {
    border-color: #303f9f;
}

.course_extras_grp .course_link,
.course_extras_grp span.course_title {
    border-color: #EF6C00;
}

.course_tasks_extra_grp .course_link,
.course_tasks_extra_grp span.course_title {
    border-color: #388e3c;
}

.course_sem_grp .course_link,
.course_sem_grp span.course_title {
    border-color: #7b1fa2;
}

.course_exams_grp .course_link,
.course_exams_grp span.course_title {
    border-color: #5d4037;
}

.course_unknown_grp span.course_title {
    border-color: #616161;
}

.course_deadline_today {
    background-color: #FFC107 !important;
}

.course_deadline_today:hover {
    background-color: #ffb300 !important;
}

.modal {
    position: fixed;
    top: 150px;
    width: 50%;
    left: 25%;
    min-height: 50px;
    z-index: 50;
    border-radius: 5px;
    overflow: hidden;
}

.modal-show {
    animation: .2s modal-slide;
}

.modal-hide {
    animation: .2s modal-slide-reverse running;
    visibility: hidden;
}

.modal-body {
    max-height: calc(100vh - 280px);
    overflow-y: auto;
}

.modal-spinner {
    position: absolute;
    top: calc(50% - 100px);
    left: calc(50% - 100px);
    width: 200px;
    height: 200px;
    z-index: 99;
}

/* need another keyframe to restart animation */
@keyframes modal-slide-reverse {
    0% {
        opacity: 1;
        transform: translate(0, 0);
        visibility: visible;
    }
    99% {
        visibility: visible;
    }
    100% {
        visibility: hidden;
        opacity: 0;
        transform: translate(0, -10px);
    }
}

@keyframes modal-slide {
    0% {
        opacity: 0;
        transform: translate(0, -10px);
        visibility: hidden;
    }
    99% {
        visibility: visible;
    }
    100% {
        visibility: visible;
        opacity: 1;
        transform: translate(0, 0);
    }
}

@media only screen and (max-width: 900px) {
    .modal {
        width: 75%;
        left: 12.5%;
    }
}

@media only screen and (max-width: 750px) {
    .modal {
        width: 90%;
        left: 5%;
    }
}

.modal-close {
    position: absolute;
    top: 0;
    right: 0;
    width: 50px;
    text-align: center;
    height: 20px;
    border-bottom-left-radius: 5px;
    line-height: 20px;
    cursor: pointer;
    z-index: 500;
}

.modal-header {
    padding: 15px;
}

.modal-title {
    font-size: 20pt;
    font-weight: 500;
}

.modal-score {
    position: absolute;
    top: 10px;
    right: 15px;
}

.modal-score-my {
    font-size: 30pt;
}

.modal-score-my::after {
    content: "/";
    font-weight: 100;
}

.modal-score-max {
    font-size: 22pt;
    font-weight: 100;
}

.modal-deadline {
    margin-top: 7px;
}

.modal-deadline-norm {
    font-size: 14pt;
    font-weight: 100;
}

.modal-deadline-late {
    font-size: 11pt;
    margin-left: 5pt;
    font-weight: 100;
}

.modal-line {
    padding: 15px;
    display: block;
    position: relative;
    padding-right: 140px;
}

.mtask-title {
    font-size: 16pt;
}

.mtask-text {
    margin-top: 5px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.mtask-score {
    position: absolute;
    top: 7px;
    right: 15px;
}

.mtask-score-my {
    font-size: 22pt;
}

.mtask-score-my::after {
    content: "/";
    font-weight: 100;
}

.mtask-score-max {
    font-size: 15pt;
    font-weight: 100;
}

.mtask-sub {
    font-size: 10pt;
    position: absolute;
    top: 37pt;
    right: 15px;
}

.mtask-sub-pen {
    font-weight: 100;
}

/** item header */

table.header
{
    background: none !important;
    background-color: #fff;
    padding-bottom: 8px;
    margin-bottom: 20px;
}

td.header
{
    position: relative;
}

td.header > b
{
    font-size: 3.5rem;
    font-weight: 300;
    line-height: 1.2;
}

td.header > small
{
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 2rem;
    font-weight: 100;
}

td[valign="top"]
{
    vertical-align: middle;
}

.outBox > table:not(.header)
{
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.075) /*!important*/;
    border: solid thin rgba(0, 0, 0, 0.125);
    border-radius: var(--border-radius);
}

/** item body */

.rtbCell > .outButton,
.rtbCell > .but1 {
    float: right;
}

.rtbCell > table
{
    background-color: transparent;
}

.ltCell,
.tCell,
.rtCell,
.lCell,
.rCell,
.lbCell,
.rbCell,
.bCell,
.ltbCell,
.rtbCell,
.lrtCell,
.lrbCell,
.Cell,
.tbCell
{
    border: none !important;
    padding: 8px 10px !important;
}

.lrtCell
{
    border-bottom: solid thin rgba(0, 0, 0, 0.125) !important;
}

.ltCell
{
    border-top-left-radius: var(--border-radius);
}

.rtCell
{
    border-top-right-radius: var(--border-radius);
}

.lrtbCell
{
    font-size: 10pt;
    border: none !important;
    border-top: solid thin rgba(0, 0, 0, 0.125) !important;
    border-bottom: solid thin rgba(0, 0, 0, 0.125) !important;
    padding: 10px !important;
}

.rtbCell
{
    vertical-align: top !important;
}

.ltbCell, .lrtbCell
{
    max-width: 100px;
    overflow-x: auto;
}

.lrtbSepCell, .ltbSepCell, .rtbSepCell, .tbSepCell,
.lrtbOkSepCell, .ltbOkSepCell, .rtbOkSepCell, .tbOkSepCell,
.lrtbHalfSepCell, .ltbHalfSepCell, .rtbHalfSepCell, .tbHalfSepCell,
.lrtbWaitSepCell, .ltbWaitSepCell, .rtbWaitSepCell, .tbWaitSepCell,
.lrtbXSepCell, .ltbXSepCell, .rtbXSepCell, .tbXSepCell,
.lrtbFailSepCell, .ltbFailSepCell, .rtbFailSepCell, .tbFailSepCell,
.lrtbEditSepCell, .ltbEditSepCell, .rtbEditSepCell, .tbEditSepCell
{
    padding: 8px 10px;
    font-size: 1.2em;
    border-bottom: solid thin rgba(0, 0, 0, 0.125);
    color: #fff;
}

.dropDownHide
{
    display: none;
}

.dropDownHeader
{
    cursor: pointer;
}

form > center > div:not(:nth-child(1)) .lrtbCell ul
{
    list-style: none;
    padding-inline-start: 10px;
}

form > center > div:not(:nth-child(1)) .lrtbCell li
{
    font-weight: 500;
    letter-spacing: 0.1px;
    padding: 5px 0;
}

form > center > div:not(:nth-child(1)) .lrtbCell li:last-child
{
    font-weight: 700;
    font-size: 11pt;
}

li.testRes > ul
{
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-auto-rows: minmax(25px, auto);
    padding-left: 10px;
}

@media only screen and (max-width: 1000px)
{
    li.testRes > ul
    {
        grid-template-columns: 50% 50%;
    }
}

li.testRes > ul > li
{
    background: initial;
    border: none;
    font-weight: 400 !important;
    letter-spacing: initial !important;
    padding: 2px 0 !important;
    font-size: 10pt !important;
}

li.testRes a
{
    border: thin solid #283593;
    border-radius: 3px;
    color: #3949a2;
    padding: 0px 6px 2px 6px;
    display: inline-block;
    font-weight: 600;
    background-color: #fff;
    margin-left: 14px;
}

li.testRes a:hover {
    box-shadow: 0 0 6px -1px #3F51B5;
}

li.testRes > ul > li:first-child
{
    font-weight: 500;
}

.gridHelp
{
    grid-column: 1;
}

li.testRes > ul > li input[type="checkbox"]
{
    position: relative;
    top: 2px;
    margin: 0;
    margin-right: 5px;
}

li.testRes:before
{
    width: 25px;
    display: inline-block;
    text-align: center;
    line-height: 15pt;
}

li.testAOK:before
{
    content: "\26A0";
    color: #aaa;
}

li.testAOK
{
    border-left: #FFC107 4px solid;
}

li.testOK:before
{
    content: "\2714";
    color: #0f0;
}

li.testOK
{
    border-left: #5ed562 4px solid;
}

li.testFailed:before
{
    content: "\274C";
    color: #f00;
}

li.testFailed
{
    border-left: #f44336 4px solid;
}

li.testUnknown:before
{
    content: "\2796";
    color: #aaa;
}

li.testUnknown
{
    border-left: #BDBDBD 4px solid;
}

.ltbSepCell,
.ltbOkSepCell,
.ltbHalfSepCell,
.ltbWaitSepCell,
.ltbXSepCell,
.ltbFailSepCell,
.ltbEditSepCell
{
    border-top-left-radius: var(--border-radius);
}

.tbSepCell,
.tbOkSepCell,
.tbHalfSepCell,
.tbWaitSepCell,
.tbXSepCell,
.tbFailSepCell,
.tbEditSepCell
{
    padding-left: 5px;
}

.rtbSepCell, .rtbOkSepCell, .rtbHalfSepCell, .rtbWaitSepCell, .rtbXSepCell, .rtbFailSepCell, .rtbEditSepCell
{
    border-top-right-radius: var(--border-radius);
}

/** item colored header */

.lrtbOkSepCell, .ltbOkSepCell, .rtbOkSepCell, .tbOkSepCell
{
    background-color: #00c000;
    text-shadow: 0px 1px 0px #006400;
}

.lrtbHalfSepCell, .ltbHalfSepCell, .rtbHalfSepCell, .tbHalfSepCell
{
    background-color: #80C000;
    text-shadow: 0px 1px 0px #486d00;
}

.lrtbWaitSepCell, .ltbWaitSepCell, .rtbWaitSepCell, .tbWaitSepCell
{
    background-color: #C0C000;
    text-shadow: 0px 1px 0px #888800;
}

.lrtbXSepCell, .ltbXSepCell, .rtbXSepCell, .tbXSepCell
{
    background-color: #C00080;
    text-shadow: 0px 1px 0px #680045;
}

.lrtbFailSepCell, .ltbFailSepCell, .rtbFailSepCell, .tbFailSepCell
{
    background-color: #C04000;
    text-shadow: 0px 1px 0px #6f2500;
}

.lrtbEditSepCell, .ltbEditSepCell, .rtbEditSepCell, .tbEditSepCell
{
    background-color: #0099cc;
    text-shadow: 0px 1px 0px #004f6a;
}

/** list box */

body > center > table
{
    border: solid thin rgba(0, 0, 0, 0.175);
    border-radius: var(--border-radius);
    box-shadow: 0 .125rem .25rem rgba(0, 0, 0, 0.075) !important;
}

.menuList
{
    display: inline-block;
    padding: 7px 0;
    font-size: 12pt;
    font-weight: bold;
}
.menuListDis
{
    display: inline-block;
    padding: 7px 0;
    font-size: 12pt;
}

.lBox, .mBox, .mtBox, .mbBox, .rBox
{
    border-bottom: solid thin rgba(0, 0, 0, 0.1);
    padding: 4px 18px;
    height: 30px;
}

body > center > table > tbody > tr:last-child > td
{
    border: none;
}

.hdrDis
{
    border-bottom: solid thin rgba(0, 0, 0, 0.175);
    background-color: rgba(0, 0, 0, 0.075);
    padding: 8px 16px;
    font-size: 13pt;
}

.hdrDis b
{
    font-weight: 500;
}

body > center > table > thead > tr > td:nth-child(3) > div > div
{
    text-align: center;
}

/** results table */

tr.resRow td
{
    padding: 2px 8px;
}

tr.resRow:hover
{
    background-color: rgba(0, 0, 0, 0.125) !important;
}

tr.resHdr td
{
    background-color: rgba(0, 0, 0, 0.075);
    height: 20px;
}

.hdrCell
{
    background-color: rgba(0, 0, 0, 0.075);
    height: 20px;
    padding: 2px 0;
    text-indent: 8px;
}

tr.resHdr td > a
{
    padding: 2px 0;
    text-indent: 8px;
    width: 100%;
    height: 100%;
    display: block;
}

tr.resHdr td > a:hover
{
    background-color: rgba(0, 0, 0, 0.1);
}

/*
tr.resStat td {
    font-weight: normal;
    background-color: #989889;
    border-color: #cccccc #666666 #666666 #cccccc;
    border-style: solid;
    border-width: 1px;
    padding-left: 3px;
    padding-right: 3px;
    padding-top: 3px;
    text-align: right;
}*/

/** buttons */

input[type=radio]
{
    position: relative;
    top: 2px;
}

input.std,
input.stdDis,
input.test,
input.testDis,
input.flt,
input.fltDis,
input.seek,
input.seekDis,
input.err {
    font-weight: bold;
    font-size: 12px;
    padding: 5px;
    min-width: 280px;
    border-radius: 2px;
}

input.err
{
    color: #fff;
}

.updButton,
.disButton,
.delButton,
.insButton,
.fltButton,
.seekButton,
div.but2 > a {
	box-shadow: 0px 2px 3px -2px rgba(0, 0, 0, 0.175) !important;
	border-radius: 4px;
	border: 1px solid;
	display: inline-block;
	cursor: pointer;
	color: #ffffff;
	font-size: 14px;
	font-weight: bold;
	padding: 4px 2px;
	text-decoration: none;
	width: 100%;
	text-align: center;
}

div.but2 {
    margin: 0 4px;
}

.updButton, a.butLink
{
	outline-color: #263238;
}

.updButton:hover, .disButton:hover, .delButton:hover, .insButton:hover, .fltButton:hover, .seekButton:hover, div.but2 > a:hover
{
	box-shadow: inset 0 0 0 99999px rgba(255,255,255,0.125) !important;
}

.updButton:active, .disButton:active, .delButton:active, .insButton:active, .fltButton:active, .seekButton:active, div.but2 > a:active
{
    outline: none;
	box-shadow: inset 0 0 0 99999px rgba(0,0,0,0.2) !important;
}

.disButton, .fltButton, .seekButton
{
	background-color: #9E9E9E;
	border-color: #616161 !important;
	text-shadow: 0px 1px 0px #616161;
	outline-color: #424242;
}

.delButton, a.butDel
{
	background-color: #F44336;
	border-color: #D32F2F !important;
	text-shadow: 0px 1px 0px #D32F2F;
	outline-color: #B71C1C;
}

.butJSDis
{
    background-color: #383838;
	border-color: #1c1c1c !important;
	text-shadow: 0px 1px 0px #1c1c1c;
	outline-color: #0b0b0b;
}

a.butJS
{
	background-color: #3F51B5;
	border-color: #303F9F !important;
	text-shadow: 0px 1px 0px #303F9F;
	outline-color: #1A237E;
}

a.butJSDel
{
	background-color: #9C27B0;
	border-color: #7B1FA2 !important;
	text-shadow: 0px 1px 0px #7B1FA2;
	outline-color: #4A148C;
}

a.butTest
{
	background-color: #3F51B5;
	border-color: #303F9F !important;
	text-shadow: 0px 1px 0px #303F9F;
	outline-color: #1A237E;
}

a.butWarn
{
	background-color: #FF9800;
	border-color: #F57C00 !important;
	text-shadow: 0px 1px 0px #F57C00;
	outline-color: #E65100;
}

.insButton, a.butSortLo, a.butSortHi
{
	background-color: #795548;
	border-color: #5D4037 !important;
	text-shadow: 0px 1px 0px #5D4037;
	outline-color: #3E2723;
}

.textOk
{
    color: #4CAF50;
    font-weight: bold;
}

.textWarn
{
	color: #feac27;
	font-weight: bold;
}
.textCrit
{
	color: #D32F2F;
	font-weight: bold;
}
.textOther
{
	color: #808080;
	font-weight: bold;
}

/** boxes */

.grayBox, .greenBox, .redBox, .yellowBox, .legendBox
{
    width: 12px;
    height: 12px;
    display: block;
    border-radius: 50%;
    box-shadow: 0px 1px 1px -1px rgba(0, 0, 0, 0.22);
    position: relative;
    left: 10px;
}

.grayBox
{
    background-color: #c0c0c0;
}

.greenBox
{
    background-color: #00ff00;
}

.redBox
{
    background-color: #ff0000;
}

.yellowBox
{
    background-color: #ffff00;
}

.legendBox
{
    margin: 3px;
}

.dupC
{
    color: #a20000;
    font-weight: 500;
}

.dupCpar
{
    background-color: #ff6262;
}

.nOk:before
{
    content: "\2718";
    color: #f00;
}

.wOk:before
{
    content: "\2718";
    color: #ff00ff;
}
.yOk:before
{
    content: "\2714";
    color: #0f0;
}
.oOk:before
{
    content: "\2714";
    color: #ff0;
}

.nOk:before, .wOk:before, .yOk:before, .oOk:before
{
    float: left;
    width: 1.5em;
    text-align: center;
}

select.std, select.stdDis, select.test, select.flt {
    font-size: 10pt;
}
 

/** old css */

.menu                { cursor: default; background-color: #00CCFF; }
.menuPane            { position: absolute; display: none; background-color: #00CCFF; border: solid 1px #000000; }
.menuSep             { width: 90%; height: 1px; font-size: 0px; background-color: black; }

.item, .itemLo, .itemHi  { cursor: default; font-family: Tahoma, Verdana, sans-serif; font-size: 12px; padding-top: 0.2em; padding-bottom: 0.2em; padding-left: 0.4em; padding-right: 0.4em; }
.itemLo              { font-weight: bold; }
.itemHi              { font-weight: bold; background-color: #0088CC; }

.ac                  { text-align: center }
.al                  { text-align: left }
.ar                  { text-align: right }



.w20                 { width: 20px }
.w35                 { width: 40px }
.w40                 { width: 40px }
.w50                 { width: 50px }
.w65                 { width: 65px }
.w70                 { width: 70px }
.w80                 { width: 80px }
.w100                { width: 100px }
.w120                { width: 120px }
.w200                { width: 200px }
.w270                { width: 270px }
.w450                { width: 450px }
.fw                  { width: 100% }
.w80p                { width: 80% }
.w50p                { width: 50% }
.float               { float: left }


.fntSmall            { font-size: 8px }


.titleBox            { font-weight: bold; background-color: #0099CC; border-color: #007799 #00BBEE #00BBEE #007799; border-style: solid; border-width: 1px }
.bigTitleBox         { font-weight: bold; font-size: 20px; text-align: center; background-color: #0099CC; border-color: #007799 #00BBEE #00BBEE #007799; border-style: solid; border-width: 1px }



.insBox              { width: 400px }
.insLab              { background-color: #AAAAAA; border-color: #CCCCCC #666666 #666666 #CCCCCC; border-style: solid; border-width: 1px }





input.stdDis, input.testDis
                     { background-color: #989889; }

input.fltDis         { color: #ffFFFF; background-color: #989889; }
input.flt            { color: #000000; background-color: #989889; }

input.seekDis        { color: #ffFFFF; background-color: #989889; font-size: 10px; }
input.seek           { color: #000000; background-color: #989889; font-size: 10px; }
select.seek          { font-family: Courier; font-size: 10px }


.textHi              { color: #800000; }
.textStd             { color: #000000; }
.textDis             { color: #808080; }

.dupS                { color: #c000c0; }
.dupA                { color: #c000c0; }
.dupG                { color: #ffff00; }


.flatButton          { background-color: #AAAAAA; border-color: #CCCCCC #666666 #666666 #CCCCCC; border-style: solid; border-width: 1px; text-align: center}
.hdrUp               { height: 15px; background-color: #989889; border-color: #cccccc #666666 #666666 #cccccc; border-style: solid; border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px; padding-left: 3px; padding-right: 3px; padding-top: 3px }
.hdrDown             { height: 15px; background-color: #989889; border-color: #666666 #cccccc #cccccc #666666; border-style: solid; border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px; padding-left: 3px; padding-right: 3px; padding-top: 3px }

.hdrLink             { display: block; width: 100% }

img.border           { border-color: #6C6C61 #B2B2A7 #B2B2A7 #6C6C61 ; border-style: solid; border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px }
.visY                { visibility: visible }
.visN                { visibility: hidden }

.pageCount           { color: #800000  }
