@import "./common.css";

/** inverted shibooleth */

#loadWrapper {
    background: #2a2a2a;
}

#shib1 > td > img {
    box-sizing: border-box;
    background: url(./assets/shibboleth-inverted.png) no-repeat;
    background-size: 200px auto;
    width: 200px;
    height: 70px;
    padding-left: 200px;
}

body {
    color: #fff;
    background-color: #000;
    background-image: url("./assets/background-dark.PNG");
}

table {
    background-color: #2d2d2d;
}

a {
    color: #03A9F4;
}

a:visited {
    color: #c384e2;
}

a:active {
    color: #ec407a;
}

select {
    color: #fff;
    background: #2b2b2b;
    outline-color: #a5a5a5;
}

select > option {
    background-color: #242424;
}

.app_name {
    text-shadow: 0 0 2px rgba(255, 255, 255, 0.25);
    color: #cacaca;
}

.app_name > b {
    color: #F5F5F5;
}

.loginForm > center > div > div > table:before {
    background: #263238;
}

.loginForm table {
    background-color: #252525 !important;
}

.loginForm .insBox {
    background: #252525;
}

.loginForm div.outButton.w120 input,
.loginForm a.butLink {
    outline-color: #B2DFDB;
}

.loginForm select[name="lang"] {
    border-bottom: thin solid rgba(255, 255, 255, 0.25);
    color: #d1d1d1;
}

#langGlobe {
    fill: #d1d1d1;
}

.loginForm #ldap2 > td:nth-child(1) > b,
.loginForm #ldap1 > td:nth-child(1) > b {
    color: #cdcdcd;
    background: #252525;
}

.loginForm input.std.w200 {
    border-bottom: thin solid rgba(255, 255, 255, 0.3);
}

/** header */

body > table {
    background-color: #1c1e1f !important;
}

body > table td {
    background-color: #1c1e1f !important;
}

#refProgress {
    background-color: rgb(228, 139, 1) !important;
}

/** subject select */

div.subjectSelect > a {
    border: thin solid #505050;
    background-color: #2d2d2d;
}

div.subjectSelect > a > div.subject-title {
    color: #fff;
}

div.subjectSelect > a > div.subject-body {
    color: #b8b8b8;
}

div.subjectSelect > a > div.subject-footer {
    background-color: #3b3b3b;
    border-top: thin solid #505050;
    color: #fff;
}

.icon {
    filter: invert(95%);
}

/** item header */

table.header {
    border-bottom: solid thin rgba(255, 255, 255, .175);
}

.outBox > table:not(.header) {
    background-color: #0e0e0e;
}

/** item body */

.ltCell,
.tCell,
.rtCell,
.lCell,
.rCell,
.lbCell,
.rbCell,
.bCell,
.ltbCell,
.rtbCell,
.lrtCell,
.lrbCell,
.Cell,
.tbCell {
    background-color: rgba(255, 255, 255, 0.125) !important;
}

.lrtbCell {
    background-color: #212121;
}

.lrtbCell img {
    filter: invert(100%);
    background-color: #212121;
    transition: filter 0.2s ease, background 0.2s ease;
}

.lrtbCell img:hover {
    filter: invert(0%);
    background-color: #fff;
}

.ltbCell::-webkit-scrollbar,
.lrtbCell::-webkit-scrollbar {
    height: 15px;
}
 
.ltbCell::-webkit-scrollbar-track,
.lrtbCell::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}
 
.ltbCell::-webkit-scrollbar-thumb,
.lrtbCell::-webkit-scrollbar-thumb {
    background-color: rgb(78, 78, 78);
    outline: 1px solid rgb(44, 44, 44);
}

.ltbCell::-webkit-scrollbar-thumb:hover,
.lrtbCell::-webkit-scrollbar-thumb:hover {
    background-color: rgb(102, 102, 102);
    outline: 1px solid rgb(58, 58, 58);
}

li.testRes a {
    color: #ffffff;
    background-color: #3F51B5;
}


li.testRes {
    border-top: thin solid rgba(255, 255, 255, 0.75);
}

/** item colored header */

.lrtbSepCell,
.ltbSepCell,
.rtbSepCell,
.tbSepCell {
    background-color: #484848;
    color: #fff;
}

/** list box */

.menuListDis {
    color: #a5a5a5;
}

body > center > table > tbody > tr:nth-child(even) {
    background-color: rgba(255, 255, 255, 0.03);
}

/** results table */

tr.resRow td {
    /*border-top: thin solid rgba(0, 0, 0, 0.125);*/
    border-top: thin solid #505050;
}

tr.resRow:nth-child(even) {
    /*background-color: rgba(0, 0, 0, 0.025);*/
    background-color: #404040;
}

.hdrCell {
    color: #fff;
}

tr.resHdr td > a {
    color: #fff;
}

/** buttons */

input.std,
input.stdDis,
input.test,
input.testDis,
input.flt,
input.fltDis,
input.seek,
input.seekDis,
input.err {
    color: #e5e5e5;
    border: thin solid rgba(255, 255, 255, 0.1);
}

input.std,
input.test {
    background-color: rgba(255, 255, 255, 0.075);
}

input.err {
    background-color: #bd2929;
}


.updButton, a.butLink {
    background-color: #455A64;
    border-color: #263238 !important;
    text-shadow: 0px 1px 0px #263238;
}
