:root
{
    --font: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    --border-radius: 3px;
}

/** global layout */

html
{
    height: 100%;
}

body
{
    font-size: 10px;
    color: #000000;
    font-family: var(--font);
    margin: 0;
    padding-bottom: 25px;
    background-color: #f0f0f0;
    background-attachment: fixed;
    background-size: cover;
    padding-top: 60px;
}

table
{
    background-color: #fff;
}

hr
{
    border: none;
    height: 1px;
    background-color: rgba(0, 0, 0, 0.175);
}

a
{
    text-decoration: none;
}

form
{
    padding: 0;
    margin: 0;
}

input, button, select, tr
{
    font-family: var(--font);
    font-size: 12px;
}

/** header */

body > table
{
    min-height: 38px !important;
    padding: 8px 16px;
    background-color: #343a40 !important;
    position: fixed;
    top: 0;
    transition: padding 0.1s ease;
    box-shadow: 0 -3px 3px 3px rgba(0, 0, 0, 0.5);
}

tr[height="25"]
{
    height: initial;
}

body > table td
{
    background-color: #343a40 !important;
}

body > table td
{
    padding: 8px 0;
}

body > table *
{
    color: rgba(255,255,255,.5) !important;
    font-weight: normal !important;
    font-size: 16px;
    padding: 15px 0px;
}

body > table b
{
    color: rgba(255,255,255,.75) !important;
}

body > table a:hover
{
    color: #fff !important;
}

body > table td > span
{
    visibility: hidden;
}

body > table td > span > *
{
    visibility: initial;
}

span.navLink b
{
    color: #fff !important;
}

body > table td:nth-child(1) > span > *:nth-child(1)
{
    font-size: 20px;
    color: #fff !important;
}

.topLayout
{
    width: 90%;
}

/** item header */

table.header
{
    background: none !important;
    background-color: #fff;
    border-bottom: solid thin rgba(0,0,0,.175);
    padding-bottom: 8px;
    margin-bottom: 20px;
}

td.header b
{
    font-size: 3.5rem;
    font-weight: 300;
    line-height: 1.2;
}

td[valign="top"]
{
    vertical-align: middle;
}

.outBox > table:not(.header)
{
    background-color: #fff !important;
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important;
    border: solid thin rgba(0, 0, 0, 0.125);
    border-radius: var(--border-radius);
}

/** item body */

.rtbCell > table
{
    background-color: transparent;
}

.ltCell, .tCell, .rtCell, .lCell, .rCell, .lbCell, .rbCell, .bCell, .ltbCell, .rtbCell, .lrtCell, .lrbCell, .Cell, .tbCell
{
    background-color: rgba(0, 0, 0, 0.03) !important;
    border: none !important;
    padding: 8px 10px !important;
}

.lrtCell
{
    border-bottom: solid thin rgba(0, 0, 0, 0.125) !important;
}

.ltCell
{
    border-top-left-radius: var(--border-radius);
}

.rtCell
{
    border-top-right-radius: var(--border-radius);
}

.lrtbCell
{
    background-color: #fff;
    border: none !important;
    border-top: solid thin rgba(0, 0, 0, 0.125) !important;
    border-bottom: solid thin rgba(0, 0, 0, 0.125) !important;
    padding: 10px !important;
}

.rtbCell
{
    vertical-align: top !important;
}

.ltbCell, .lrtbCell
{
    max-width: 100px;
    overflow-x: auto;
}

.lrtbSepCell, .ltbSepCell, .rtbSepCell, .tbSepCell,
.lrtbOkSepCell, .ltbOkSepCell, .rtbOkSepCell, .tbOkSepCell,
.lrtbHalfSepCell, .ltbHalfSepCell, .rtbHalfSepCell, .tbHalfSepCell,
.lrtbWaitSepCell, .ltbWaitSepCell, .rtbWaitSepCell, .tbWaitSepCell,
.lrtbXSepCell, .ltbXSepCell, .rtbXSepCell, .tbXSepCell,
.lrtbFailSepCell, .ltbFailSepCell, .rtbFailSepCell, .tbFailSepCell,
.lrtbEditSepCell, .ltbEditSepCell, .rtbEditSepCell, .tbEditSepCell
{
    padding: 8px 10px;
    font-size: 1.2em;
    border-bottom: solid thin rgba(0, 0, 0, 0.125);
    color: #fff;
}

.ltbSepCell, .ltbOkSepCell, .ltbHalfSepCell, .ltbWaitSepCell, .ltbXSepCell, .ltbFailSepCell, .ltbEditSepCell
{
    border-top-left-radius: var(--border-radius);
}

.tbSepCell, .tbOkSepCell, .tbHalfSepCell, .tbWaitSepCell, .tbXSepCell, .tbFailSepCell, .tbEditSepCell
{
    padding-left: 5px;
}

.rtbSepCell, .rtbOkSepCell, .rtbHalfSepCell, .rtbWaitSepCell, .rtbXSepCell, .rtbFailSepCell, .rtbEditSepCell
{
    border-top-right-radius: var(--border-radius);
}

/** item colored header */

.lrtbSepCell, .ltbSepCell, .rtbSepCell, .tbSepCell
{
    background-color: #e8e8e8;
    color: #000;
}

.lrtbOkSepCell, .ltbOkSepCell, .rtbOkSepCell, .tbOkSepCell
{
    background-color: #00c000;
    text-shadow: 0px 1px 0px #006400;
}

.lrtbHalfSepCell, .ltbHalfSepCell, .rtbHalfSepCell, .tbHalfSepCell
{
    background-color: #80C000;
    text-shadow: 0px 1px 0px #486d00;
}

.lrtbWaitSepCell, .ltbWaitSepCell, .rtbWaitSepCell, .tbWaitSepCell
{
    background-color: #C0C000;
    text-shadow: 0px 1px 0px #888800;
}

.lrtbXSepCell, .ltbXSepCell, .rtbXSepCell, .tbXSepCell
{
    background-color: #C00080;
    text-shadow: 0px 1px 0px #680045;
}

.lrtbFailSepCell, .ltbFailSepCell, .rtbFailSepCell, .tbFailSepCell
{
    background-color: #C04000;
    text-shadow: 0px 1px 0px #6f2500;
}

.lrtbEditSepCell, .ltbEditSepCell, .rtbEditSepCell, .tbEditSepCell
{
    background-color: #0099cc;
    text-shadow: 0px 1px 0px #004f6a;
}

/** list box */

body > center > table
{
    border: solid thin rgba(0, 0, 0, 0.175);
    border-radius: var(--border-radius);
    box-shadow: 0 .125rem .25rem rgba(0, 0, 0, 0.075) !important;
}

.menuList
{
    display: inline-block;
    padding: 7px 0;
    font-size: 12pt;
    font-weight: bold;
}
.menuListDis
{
    display: inline-block;
    padding: 7px 0;
    color: #3c3c3c;
    font-size: 12pt;
}

.lBox, .mBox, .mtBox, .mbBox, .rBox
{
    border-bottom: solid thin rgba(0, 0, 0, 0.1);
    padding: 4px 18px;
    height: 30px;
}

body > center > table > tbody > tr:nth-child(even)
{
    background-color: rgba(0, 0, 0, 0.03);
}

body > center > table > tbody > tr:last-child > td
{
    border: none;
}

.hdrDis
{
    border-bottom: solid thin rgba(0, 0, 0, 0.175);
    background-color: rgba(0, 0, 0, 0.075);
    padding: 8px 16px;
    font-size: 13pt;
}

.hdrDis b
{
    font-weight: 500;
}

body > center > table > thead > tr > td:nth-child(3) > div > div
{
    text-align: center;
}

/** results table */

tr.resRow td
{
    /*border-top: thin solid rgba(0, 0, 0, 0.125);*/
    border-top: thin solid #eee;
    padding: 2px 8px;
}

tr.resRow:nth-child(even)
{
    /*background-color: rgba(0, 0, 0, 0.025);*/
    background-color: #f8f8f8;
}

tr.resRow:hover
{
    background-color: rgba(0, 0, 0, 0.125);
}

tr.resHdr td
{
    background-color: rgba(0, 0, 0, 0.075);
    height: 20px;
}

.hdrCell
{
    background-color: rgba(0, 0, 0, 0.075);
    height: 20px;
    color: #000000;
    padding: 2px 0;
    text-indent: 8px;
}

tr.resHdr td > a
{
    color: #000000;
    padding: 2px 0;
    text-indent: 8px;
    width: 100%;
    height: 100%;
    display: block;
}

tr.resHdr td > a:hover
{
    background-color: rgba(0, 0, 0, 0.1);
}

tr.resStat td        { font-weight: normal; background-color: #989889; border-color: #cccccc #666666 #666666 #cccccc; border-style: solid; border-width: 1px; padding-left: 3px; padding-right: 3px; padding-top: 3px; text-align: right; }

/** buttons */

input[type=radio]
{
    position: relative;
    top: 2px;
}

input.std, input.stdDis, input.test, input.testDis, input.flt, input.fltDis, input.seek, input.seekDis, input.err
{
    color: #1e1e1e;
    font-weight: bold;
    font-size: 12px;
    border: thin solid rgba(0, 0, 0, 0.125);
    padding: 5px;
    min-width: 280px;
    border-radius: 2px;
}

input.std, input.test
{
    background-color: rgba(0, 0, 0, 0.075);
}

input.err
{
    background-color: #f13636;
    color: #fff;
}

.updButton, .disButton, .delButton, .insButton, .fltButton, .seekButton, div.but2 > a
{
	box-shadow: 0px 2px 3px -2px rgba(0, 0, 0, 0.175) !important;
	border-radius: 4px;
	border: 1px solid;
	display: inline-block;
	cursor: pointer;
	color: #ffffff;
	font-size: 14px;
	font-weight: bold;
	padding: 4px 0px;
	text-decoration: none;
	width: 100%;
	text-align: center;
}

.updButton, a.butLink
{
	background-color: #607D8B;
	border-color: #455A64 !important;
	text-shadow: 0px 1px 0px #455A64;
	outline-color: #263238;
}

.updButton:hover, .disButton:hover, .delButton:hover, .insButton:hover, .fltButton:hover, .seekButton:hover, div.but2 > a:hover
{
	box-shadow: inset 0 0 0 99999px rgba(255,255,255,0.125) !important;
}

.updButton:active, .disButton:active, .delButton:active, .insButton:active, .fltButton:active, .seekButton:active, div.but2 > a:active
{
    outline: none;
	box-shadow: inset 0 0 0 99999px rgba(0,0,0,0.2) !important;
}

.disButton, .fltButton, .seekButton
{
	background-color: #9E9E9E;
	border-color: #616161 !important;
	text-shadow: 0px 1px 0px #616161;
	outline-color: #424242;
}

.delButton, a.butDel
{
	background-color: #F44336;
	border-color: #D32F2F !important;
	text-shadow: 0px 1px 0px #D32F2F;
	outline-color: #B71C1C;
}

.butJSDis
{
    background-color: #383838;
	border-color: #1c1c1c !important;
	text-shadow: 0px 1px 0px #1c1c1c;
	outline-color: #0b0b0b;
}

a.butJS
{
	background-color: #3F51B5;
	border-color: #303F9F !important;
	text-shadow: 0px 1px 0px #303F9F;
	outline-color: #1A237E;
}

a.butJSDel
{
	background-color: #9C27B0;
	border-color: #7B1FA2 !important;
	text-shadow: 0px 1px 0px #7B1FA2;
	outline-color: #4A148C;
}

a.butTest
{
	background-color: #3F51B5;
	border-color: #303F9F !important;
	text-shadow: 0px 1px 0px #303F9F;
	outline-color: #1A237E;
}

a.butWarn
{
	background-color: #FF9800;
	border-color: #F57C00 !important;
	text-shadow: 0px 1px 0px #F57C00;
	outline-color: #E65100;
}

.insButton, a.butSortLo, a.butSortHi
{
	background-color: #795548;
	border-color: #5D4037 !important;
	text-shadow: 0px 1px 0px #5D4037;
	outline-color: #3E2723;
}

.textOk
{
    color: #4CAF50;
    font-weight: bold;
}

.textWarn
{
	color: #feac27;
	font-weight: bold;
}
.textCrit
{
	color: #D32F2F;
	font-weight: bold;
}
.textOther
{
	color: #808080;
	font-weight: bold;
}

/** boxes */

.grayBox, .greenBox, .redBox, .yellowBox, .legendBox
{
    width: 12px;
    height: 12px;
    display: block;
    border-radius: 50%;
    box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.22);
    position: relative;
    left: 10px;
}

.grayBox
{
    background-color: #c0c0c0;
}

.greenBox
{
    background-color: #00ff00;
}

.redBox
{
    background-color: #ff0000;
}

.yellowBox
{
    background-color: #ffff00;
}

.legendBox
{
    margin: 3px;
}

.dupC
{
    color: #a20000;
    font-weight: 500;
}

.dupCpar {
    background-color: #ff6262;
}

/** old css */

.menu                { cursor: default; background-color: #00CCFF; }
.menuPane            { position: absolute; display: none; background-color: #00CCFF; border: solid 1px #000000; }
.menuSep             { width: 90%; height: 1px; font-size: 0px; background-color: black; }

.item, .itemLo, .itemHi  { cursor: default; font-family: Tahoma, Verdana, sans-serif; font-size: 12px; padding-top: 0.2em; padding-bottom: 0.2em; padding-left: 0.4em; padding-right: 0.4em; }
.itemLo              { font-weight: bold; }
.itemHi              { font-weight: bold; background-color: #0088CC; }

.ac                  { text-align: center }
.al                  { text-align: left }
.ar                  { text-align: right }



.w20                 { width: 20px }
.w35                 { width: 40px }
.w40                 { width: 40px }
.w50                 { width: 50px }
.w65                 { width: 65px }
.w70                 { width: 70px }
.w80                 { width: 80px }
.w100                { width: 100px }
.w120                { width: 120px }
.w200                { width: 200px }
.w270                { width: 270px }
.w450                { width: 450px }
.fw                  { width: 100% }
.w80p                { width: 80% }
.w50p                { width: 50% }
.float               { float: left }


.fntSmall            { font-size: 8px }


.titleBox            { font-weight: bold; background-color: #0099CC; border-color: #007799 #00BBEE #00BBEE #007799; border-style: solid; border-width: 1px }
.bigTitleBox         { font-weight: bold; font-size: 20px; text-align: center; background-color: #0099CC; border-color: #007799 #00BBEE #00BBEE #007799; border-style: solid; border-width: 1px }



.insBox              { width: 400px }
.insLab              { background-color: #AAAAAA; border-color: #CCCCCC #666666 #666666 #CCCCCC; border-style: solid; border-width: 1px }





input.stdDis, input.testDis
                     { background-color: #989889; }

select.std, select.stdDis, select.test, select.flt
                     { font-family: Courier; font-size: 12px; }

input.fltDis         { color: #ffFFFF; background-color: #989889; }
input.flt            { color: #000000; background-color: #989889; }

input.seekDis        { color: #ffFFFF; background-color: #989889; font-size: 10px; }
input.seek           { color: #000000; background-color: #989889; font-size: 10px; }
select.seek          { font-family: Courier; font-size: 10px }


.textHi              { color: #800000; }
.textStd             { color: #000000; }
.textDis             { color: #808080; }

.dupS                { color: #c000c0; }
.dupA                { color: #c000c0; }
.dupG                { color: #ffff00; }



.nOk:before { content: "\2718"; color: red; float: left; }
.wOk:before { content: "\2718"; color: #ff00ff; float: left; }
.yOk:before { content: "\2714"; color: green; float: left; }
.oOk:before { content: "\2714"; color: yellow; float: left; }

.flatButton          { background-color: #AAAAAA; border-color: #CCCCCC #666666 #666666 #CCCCCC; border-style: solid; border-width: 1px; text-align: center}
.hdrUp               { height: 15px; background-color: #989889; border-color: #cccccc #666666 #666666 #cccccc; border-style: solid; border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px; padding-left: 3px; padding-right: 3px; padding-top: 3px }
.hdrDown             { height: 15px; background-color: #989889; border-color: #666666 #cccccc #cccccc #666666; border-style: solid; border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px; padding-left: 3px; padding-right: 3px; padding-top: 3px }

.hdrLink             { display: block; width: 100% }

img.border           { border-color: #6C6C61 #B2B2A7 #B2B2A7 #6C6C61 ; border-style: solid; border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px }
.visY                { visibility: visible }
.visN                { visibility: hidden }

.pageCount           { color: #800000  }
