@import "./common.css";

.uniVal {
    color: #2e2e2e;
}

#loadWrapper {
    background: #fff;
}

body {
    color: #000000;
    background-color: #fff;
    background-image: url("./assets/background-light.PNG");
}

table {
    background-color: #fff;
}

select {
    outline-color: #2e2e2e;
}

.app_name
{
    text-shadow: 0 0 1px rgba(0, 0, 0, 0.25);
    color: #464646;
}

.app_name > b
{
    color: #212121;
}

.loginForm > center > div > div > table:before {
    background: #26A69A;
}

.loginForm table {
    background-color: #fff !important;
}

.loginForm .insBox {
    background: #fff;
}

.loginForm div.outButton.w120 input,
.loginForm a.butLink {
    outline-color: #004D40;
}

.loginForm select[name="lang"] {
    border-bottom: thin solid rgba(0, 0, 0, 0.25);
    color: #353535;
}

#langGlobe {
    fill: #424242;
}

.loginForm #ldap2 > td:nth-child(1) > b,
.loginForm #ldap1 > td:nth-child(1) > b {
    color: #585858;
    background: #fff;
}

.loginForm input.std.w200 {
    border-bottom: thin solid rgba(0, 0, 0, 0.3);
}

/** header */

body > table
{
    background-color: #343a40 !important;
}

body > table td
{
    background-color: #343a40 !important;
}

#refProgress
{
    background-color: rgb(255, 193, 7) !important;
}

/** subject select */

div.subjectSelect > a {
    border: thin solid #d1d1d1;
    background-color: #fff;
}

div.subjectSelect > a > div.subject-title {
    color: #000;
}

div.subjectSelect > a > div.subject-body {
    color: #414141;
}

div.subjectSelect > a >div.subject-footer {
    background-color: #f0f0f0;
    border-top: thin solid #d5d5d5;
    color: #000;
}

/** task select */

.course_grp {
    border: thin solid #d1d1d1;
    background-color: #fff;
}

.course_grp > *:nth-child(even) {
    background: rgba(0, 0, 0, 0.05);
}

.course_link {
    background: #fff;
    color: #424242;
}

span.course_link {
    color: #b1b1b1;
}

span span.course_link_score {
    background: #B0BEC5;
}

a.course_link:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.course_link.course_disabled {
    border-left: 2px solid #b0b0b0;
    color: #616161;
}

.modal {
    background: #fff;
    box-shadow: 0 5px 30px #494949;
    border: thin solid #ababab;
}

.modal-close {
    background: #E0E0E0;
}

.modal-close:hover {
    background: #BDBDBD;
}

.modal-header {
    background: #EEEEEE;
    border-bottom: thin solid #ababab;
}

.modal-score-my::after {
    color: #8b8b8b;
}

.modal-score-max {
    color: #525252;
}

.modal-deadline-late {
    color: #a00000;
}

.modal-line {
    color: #000;
    border-bottom: thin solid #e2e2e2;
}

.modal-line:hover {
    background: #E0E0E0;
}

.modal-spinner {
    background: url(./assets/spinner.svg), radial-gradient(ellipse at center, #fffa 40%,#fff0 70%);
}

.mtask-score-my::after {
    color: #8b8b8b;
}

.mtask-score-max {
    color: #525252;
}

/** item header */

table.header
{
    border-bottom: solid thin rgba(0,0,0,.175);
}

.outBox > table:not(.header)
{
    background-color: #fff !important;
}

/** item body */

.ltCell,
.tCell,
.rtCell,
.lCell,
.rCell,
.lbCell,
.rbCell,
.bCell,
.ltbCell,
.rtbCell,
.lrtCell,
.lrbCell,
.Cell,
.tbCell
{
    background-color: rgba(0, 0, 0, 0.03) !important;
}

.lrtbCell
{
    background-color: #fff;
}

li.testRes a
{
    color: #3949a2;
    background-color: #fff;
}

li.testRes
{
    border-top: thin solid rgba(0, 0, 0, 0.75);
}


/** item colored header */

.lrtbSepCell,
.ltbSepCell,
.rtbSepCell,
.tbSepCell
{
    background-color: #e8e8e8;
    color: #000;
}

/** list box */

.menuListDis {
    color: #3c3c3c;
}

body > center > table > tbody > tr:nth-child(even)
{
    background-color: rgba(0, 0, 0, 0.03);
}

/** results table */

tr.resRow td
{
    /*border-top: thin solid rgba(0, 0, 0, 0.125);*/
    border-top: thin solid #eee;
}

tr.resRow:nth-child(even)
{
    /*background-color: rgba(0, 0, 0, 0.025);*/
    background-color: #f8f8f8;
}

.hdrCell
{
    color: #000000;
}

tr.resHdr td > a
{
    color: #000000;
}

/** buttons */

input.std,
input.stdDis,
input.test,
input.testDis,
input.flt,
input.fltDis,
input.seek,
input.seekDis,
input.err
{
    color: #1e1e1e;
    border: thin solid rgba(0, 0, 0, 0.125);
}

input.std,
input.test
{
    background-color: rgba(0, 0, 0, 0.075);
}

input.err
{
    background-color: #f13636;
}

.updButton, a.butLink
{
	background-color: #607D8B;
	border-color: #455A64 !important;
	text-shadow: 0px 1px 0px #455A64;
}
