body {
    overflow-y: scroll;
    background-color: #000;
    color: #0f0;
    font-family: 'Courier New', Courier, monospace;
    overflow-wrap: break-word;
    font-size: 11pt;
    margin: 1ch;
    visibility: hidden;
}

#i {
    display: none;
}

.prompt {
    display: inline;
    white-space: nowrap;
    vertical-align: top;
}

.input {
    white-space: pre-wrap;
    display: inline;
    overflow: hidden;
    vertical-align: top;
}

.caret {
    width: 1ch;
    height: 2ch;
    position: relative;
    border-bottom: 2px solid #0f0;
    display: inline-block;
    margin-right: -1ch;
}
