body {
    overflow-y: scroll;
    background-color: #000;
    color: #0f0;
    font-family: 'Courier New', Courier, monospace;
    overflow-wrap: break-word;
    font-size: 11pt;
    white-space: pre-wrap;
}

#i {
    display: none;
}

.prompt {
    display: inline;
}

.input {
    border: none;
    background: transparent;
    outline: none;
}

.caret {
    width: 1ch;
    height: 2px;
    background: #0f0;
    display: inline-block;
    position: relative;
    margin-bottom: -5px;
}
