html {
    height: 100%;
}

body {
    background-color: #000;
    color: #0f0;
    font-family: 'Courier New', Courier, monospace;
    height: 100%;
}

#i {
    display: none;
}

.prompt {
    display: inline;
    margin-right: 1ch;
}

.input {
    border: none;
    background: transparent;
    outline: none;
}