/* 
* Hide all content while page is loading
* This file is injected as part of document_start content script 
*/
body::before {
    content: "";
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: #1c1e1f;
    z-index: 100;
}
